<div class="response-list">
  <% comments.each do |c| %>
    <%= render :partial => "comment/comment", :locals => {:comment => c} %>
  <% end %>
</div>

<div style="clear: both;">
  <% if hide %>
    <% begin %>
    <%= content_tag "h6", link_to_function(t('.reply'), "Comment.show_reply_form(#{post_id});"), :id => "respond-link-#{post_id}" %>
    <% rescue; raise comments.inspect; end %>
  <% end %>

  <%= content_tag("div", :id => "reply-#{post_id}", :style => (hide ? "display: none;" : nil)) do %>
    <%= form_tag({:controller => "comment", :action => "create"}, {:level => :member}) do %>
      <%= hidden_field_tag "comment[post_id]", post_id, :id => "comment_post_id_#{post_id}" %>
      <%= text_area "comment", "body", :rows => "7", :id => "reply-text-#{post_id}", :style=>"width: 98%; margin-bottom: 2px;" %>
      <%= submit_tag t('.post') %>
      <!-- <%= submit_tag t('.bump') %> -->
    <% end %>
<!--    <p style="margin-top: 1em; font-style: italic;">[spoiler]Hide spoiler text like this[/spoiler] (<%= link_to t('.more'), :controller => "help", :action => "comments" %>)</p> -->
  <% end %>
</div>

<script type="text/javascript">
  <%= avatar_init %>
  InlineImage.init();
</script>

