<div id="comment-list">
  <% if @posts.empty? %>
    <h4>No comments.</h4>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post">
      <div class="col1">
        <%= link_to(image_tag(post.preview_url, :title => post.cached_tags, :class => "preview javascript-hide", :id => "p%i" % post.id, :width => post.preview_dimensions[0], :height => post.preview_dimensions[1]), :controller => "post", :action => "show", :id => post.id) %>&nbsp;
      </div>
      <div class="col2" id="comments-for-p<%= post.id %>">
        <div class="header">
          <div>
            <span class="info"><strong>Date</strong> <%= compact_time(post.created_at) %></span>
            <span class="info"><strong>User</strong> <%= link_to h(post.author), :controller => "user", :action => "show", :id => post.user_id %></span>
            <span class="info"><strong>Rating</strong> <%= post.pretty_rating %></span>
            <span class="info vote-container"><strong>Score</strong>
              <span id="post-score-<%= post.id %>"><%= post.score %></span>
              <%= vote_widget(@current_user) %>
	      <%= vote_tooltip_widget() %>
            </span>

            <% if post.comments.size > 6 %>
              <span class="info"><strong>Hidden</strong> <%= link_to post.comments.size - 6, :controller => "post", :action => "show", :id => post.id %></span>
            <% end %>
          </div>
          <div class="tags">
            <strong>Tags</strong>
            <% post.cached_tags.split(/ /).each do |name| %>
              <span class="tag-type-<%= Tag.type_name(name) %>">
                <a href="/post/index?tags=<%= u name %>"><%= h name.tr("_", " ") %></a>
              </span>
            <% end %>
          </div>
        </div>
        <%= render :partial => "comments", :locals => {:comments => post.recent_comments, :post_id => post.id, :hide => true} %>
      </div>
    </div>
  <% end %>

  <div id="paginator">
    <%= will_paginate(@posts) %>
  </div>

  <% if @page_uses_translations then %>
    <% content_for("above_footer") do %>
      Comment translation provided by <a href="http://translate.google.com">Google</a>.
      <br>
    <% end %>
  <% end %>

  <script type="text/javascript">
    Post.register_resp(<%= Post.batch_api_data(@posts).to_json %>);
    <% @posts.each do |post| %>
      var container = $("comments-for-p<%= post.id %>").down(".vote-container");
      var widget = new VoteWidget(container);
      widget.set_post_id(<%= post.id %>);
    <% end %>
    Post.init_blacklisted({replace: true})
  </script>

  <%= render :partial => "footer" %>
</div>
