<thead>
  <tr>
    <th></th>
    <th width="15%"><%=t :sub_name %></th>
    <th width="70%"><%=t :sub_tags %></th>
    <th width="10%"><%=t :sub_vis %></th>
  </tr>
</thead>

<tfoot>
  <tr>
    <td></td>
    <td colspan="3">
      <%= submit_tag t(:sub_save) %>
      <%= button_to_remote t(:sub_add), :url => {:controller => "tag_subscription", :action => "create"} %>
    </td>
  </tr>
</tfoot>

<tbody id="tag-subscription-body">
  <% tag_subscriptions.each do |tag_subscription| %>
    <%= render :partial => "listing_row", :locals => {:tag_subscription => tag_subscription} %>
  <% end %>
</tbody>
