<%= form_tag(:action => "update") do %>
  <h4><%=t :sub_edit %></h4>
  <div style="margin-bottom: 1em;">
    <%=t :sub_text %><%= CONFIG["max_tag_subscriptions"] %><%=t :sub_text2 %>
  </div>

  <table width="100%" class="highlightable">
    <%= render :partial => "listing", :locals => {:tag_subscriptions => @tag_subscriptions} %>
  </table>
<% end %>
