<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), :action => "index" %></li>
  <li><%= link_to t('.new'), :action => "create" %></li>
  <%= yield :footer %>
  <li><%= link_to t('.help'), help_path("pools") %></li>
  <%= yield :footer_final %>
<% end %>
