<h4>Clone pool</h4>

<% form_tag(:action => "copy") do %>
  <%= hidden_field_tag "id", params[:id] %>
  <label>Name</label> <%= text_field_tag "name", @new_pool.pretty_name %>
  <%= submit_tag "Copy pool" %> <%= button_to_function "Cancel", "history.back()" %></td>
<% end %>

<%= render :partial => "footer" %>

<script type="text/javascript">$("name").focus();</script>
