<h3><%=t :pool_delete %></h3>

<%= form_tag(:action => "destroy") do %>
  <p><%=t :pool_confirm %>"<%= h(@pool.pretty_name) %>"<%=t :pool_question_mark %></p>
  <%= submit_tag "Yes" %> <%= button_to_function "No", "history.back()" %>
<% end %>

<%= render :partial => "footer" %>
