<div id="pool-index">
  <div style="margin-bottom: 2em;">
    <%= form_tag({:action => "index"}, :method => :get) do %>
      <% if params.has_key?(:order) %>
      <%= hidden_field_tag "order", params[:order] %>
      <% end %>
      <%= text_field_tag "query", params[:query], :size => 40 %>
      <%= submit_tag t(:pool_search) %>
    <% end %>
  </div>

  <img style="position: absolute; display: none; border: 2px solid #000; right: 42%;" id="hover-thumb" src="about:blank" alt="">

  <table width="100%" class="highlightable">
    <thead>
      <tr>
        <th width="60%"><%=t :pool_name %></th>
        <th width="*"><%=t :pool_creator %></th>
        <th width="*"><%=t :pool_posts %></th>
        <th width="*"><%=t :pool_created %></th>
        <th width="*"><%=t :pool_updated %></th>
      </tr>
    </thead>
    <tbody>
      <% @pools.each do |p| %>
        <tr class="<%= cycle 'even', 'odd' %>" id="p<%= p.id %>">
          <td><%= link_to h(p.pretty_name), :action => "show", :id => p.id %></td>
          <td><%= h(p.user.pretty_name) %></td>
          <td><%= p.post_count %></td>
          <td><%= time_ago_in_words(p.created_at) %> ago</td>
          <td><%= time_ago_in_words(p.updated_at) %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="paginator">
  <%= will_paginate(@pools) %>
</div>

<% content_for :post_cookie_javascripts do %>
<script type="text/javascript">
  var thumb = $("hover-thumb");
  <% @samples.each do |pool, post| %>
    Post.register(<%= json_escape post.to_json.html_safe %>);
    var hover_row = $("p<%= pool.id %>");
    var container = hover_row.up("TABLE");
    Post.init_hover_thumb(hover_row, <%= post.id %>, thumb, container);
  <% end %>
  Post.init_blacklisted({replace: true});

  <% @samples.each do |pool, post| %>
    if(!Post.is_blacklisted(<%= post.id %>))
      Preload.preload('<%= escape_javascript(post.preview_url) %>');
  <% end %>
</script>
<% end %>

<%= render :partial => "footer" %>
