<div id="pool-show">
  <h4>Pool: <%= h(@pool.pretty_name) %></h4>
  <% unless @pool.description.blank? %>
    <div style="margin-bottom: 2em;"><%= format_text @pool.description %></div>
  <% end %>
  <div style="margin-top: 1em;">
  <ul id="post-list-posts">
    <% @posts.each do |post| -%>
      <%-%><%= print_preview(post, :onclick => "return remove_post_confirm(#{post.id}, #{@pool.id})",
                             :user => @current_user, :display => @browse_mode == 1? :large : :block, :hide_directlink => @browse_mode == 1,
                             :url_params => "?pool_id=#{@pool.id}") -%>
    <%- end -%>
  </ul>
  </div>
</div>
<script type="text/javascript">
  function remove_post_confirm(post_id, pool_id) {
    if (!$("del-mode") || !$("del-mode").checked) {
      return true
    }

    Pool.remove_post(post_id, pool_id)
    return false
  }

  Post.post_tags = <%= Tag.batch_get_tag_types(@posts).to_json %>;
  <% @posts.each do |post| %>
    Post.register(<%= post.to_json %>)
  <% end %>
</script>
<%= render :partial => "post/hover" %>

<div id="paginator">
  <%= will_paginate(@posts) %>

  <div style="display: none;" id="info">When delete mode is enabled, clicking on a thumbnail will remove the post from this pool.</div>
</div>

<% content_for("footer") do %>
  <% if CONFIG["pool_zips"] %>
    <% zip_params = {} %>
    <% has_jpeg = CONFIG["jpeg_enable"] && @pool.has_jpeg_zip?(zip_params) %>
    <% if has_jpeg %>
      <li><%= link_to_pool_zip "Download&nbsp;JPGs", @pool, zip_params.merge({:jpeg => true}) %></li>
    <% end %>
    <li><%= link_to_pool_zip "Download", @pool, zip_params, {:has_jpeg => has_jpeg} %></li>
  <% end %>
  <li><%= link_to "Index&nbsp;view", :controller => "post", :action => "index", :tags => "pool:#{@pool.id}" %> </li>
  <% if not @current_user.is_anonymous? %>
  <li><%= link_to_function "Toggle view", "User.set_pool_browse_mode(#{ j(1-@browse_mode)});" %></li>
  <% end %>
  <% if @current_user.has_permission?(@pool) %>
    <li><%= link_to "Edit", :action => "update", :id => params[:id] %></li>
    <li><%= link_to "Delete", :action => "destroy", :id => params[:id] %></li>
  <% end %>
<% end %>

<% content_for("footer_final") do %>
  <br>
  <% if @current_user.can_change?(@pool, :posts) %>
    <li><%= link_to "Order", :action => "order", :id => params[:id] %></li>
    <li><%= link_to "Import", :action => "import", :id => params[:id] %></li>
    <% if @current_user.is_contributor_or_higher? %>
      <li><%= link_to "Copy", :action => "copy", :id => params[:id] %></li>
      <li><%= link_to "Transfer&nbsp;post&nbsp;data", :action => "transfer_metadata", :to => params[:id] %></li>
    <% end %>
  <% end %>
  <li><%= link_to "History", :controller => "history", :action => "index", :search => "pool:#{params[:id]}" %></li>
  <% if @current_user.can_change?(@pool, :posts) %>
  <li class="advanced-editing del-mode">
    <input type="checkbox" id="del-mode" onclick="Element.toggle('info')">
    <label for="del-mode">Delete&nbsp;mode</label>
  </li>
  <% end %>
<% end %>

<%= render :partial => "footer" %>
