<% if @from.nil? then %>
  <% form_tag({:controller => "pool", :action => "transfer_metadata"}, :method => "get") do %>
  <%= hidden_field_tag "to", @to.id %>
  Transfer from pool number:
  <%= text_field_tag "from", "", :class => "fp", :size => 5, :tabindex => 1 %>
  <br>
  <%= submit_tag "Transfer", :tabindex => 2 %>
  <%= button_to_function "Cancel", "history.back()", :tabindex => 2 %>
  <script type="text/javascript">$("from").focus()</script>
<% end %>

<% else %>
<h3>
  Transferring post data from posts in pool <%= link_to @from.pretty_name, :action => :show, :id => @from.id  %>
  to posts in pool <%= link_to @to.pretty_name, :action => :show, :id => @to.id  %>
</h3>

<div>
  Tags and ratings will be transferred, and the old posts will be parented to the new posts.
</div>
<% if @truncated then %>
<div>
  These pools don't have the same number of posts.  <b>Please check that tags are being transferred
  to the correct posts.</b>
</div>
<% end %>

<div> <%= link_to("Reverse", {:action => "transfer_metadata", :from => @to.id, :to => @from.id}) %> the transfer </div>

<% form_tag(:controller => "post", :action => "update_batch") do %>
<%= hidden_field_tag "url", (url_for :controller => "pool", :action => "show", :id => @to.id) %>
  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |pp| %>
        <% fp = pp[:from]; tp = pp[:to] %>
        <tr>
          <td>
            <% if fp.can_be_seen_by?(@current_user) %>
              <%= link_to(image_tag(fp.preview_url, :width => fp.preview_dimensions[0], :height => fp.preview_dimensions[1]), {:controller => "post", :action => "show", :id => fp.id}, :title => fp.cached_tags)%>
            <% end %>
          </td>
          <td>
            <% if tp.can_be_seen_by?(@current_user) %>
              <%= link_to(image_tag(tp.preview_url, :width => tp.preview_dimensions[0], :height => tp.preview_dimensions[1]), {:controller => "post", :action => "show", :id => tp.id}, :title => tp.cached_tags)%>
            <% end %>
          </td>
          <td>
            <%= hidden_field_tag "post[#{tp.id}][old_tags]", tp.tags %>
            <%= text_field_tag "post[#{tp.id}][tags]", pp[:tags], :class => "fp", :size => 45, :tabindex => 1 %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"><%= submit_tag "Transfer", :tabindex => 2 %> <%= button_to_function "Cancel", "history.back()", :tabindex => 2 %></td>
      </tr>
    </tfoot>
  </table>
<% end %>
<% end %>
