<h3><%=t :pool_edit %></h3>

<%= form_tag(:action => "update") do %>
  <table class="form">
    <tbody>
      <tr>
        <th width="15%"><label for="pool_name"><%=t :pool_name %></label></th>
        <td width="85%"><%= text_field "pool", "name", :value => @pool.pretty_name %></td>
      </tr>
      <tr>
        <th><label for="pool_description"><%=t :pool_description %></label></th>
        <td><%= text_area "pool", "description", :size => "40x10" %></td>
      </tr>
      <tr>
        <th>
          <label for="pool_is_public"><%=t :pool_public %></label>
          <p><%=t :pool_public_text %></p>
        </th>
        <td><%= check_box "pool", "is_public" %></td>
      </tr>
      <tr>
        <th>
          <label for="pool_is_active"><%=t :pool_active %></label>
          <p><%=t :pool_active_text %></p>
        </th>
        <td><%= check_box "pool", "is_active" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Save" %> <%= button_to_function "Cancel", "history.back()" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= render :partial => "footer" %>
