<h3>Edit Pool</h3>

<% form_tag(:action => "update") do %>
  <table class="form">
    <tbody>
      <tr>
        <th width="15%"><label for="pool_name">Name</label></th>
        <td width="85%"><%= text_field "pool", "name", :value => @pool.pretty_name %></td>
      </tr>
      <tr>
        <th><label for="pool_description">Description</label></th>
        <td><%= text_area "pool", "description", :size => "40x10" %></td>
      </tr>
      <tr>
        <th>
          <label for="pool_is_public">Public</label>
          <p>Public pools allow anyone to add/remove posts.</p>
        </th>
        <td><%= check_box "pool", "is_public" %></td>
      </tr>
      <tr>
        <th>
          <label for="pool_is_active">Active</label>
          <p>Inactive pools will no longer be selectable when adding a post.</p>
        </th>
        <td><%= check_box "pool", "is_active" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Save" %> <%= button_to_function "Cancel", "history.back()" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= render :partial => "footer" %>
