<% provide :title, t('.title') %>
<h4>Batch Uploads</h4>

<table width="100%" class="highlightable">
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="10%"><%=t :batch_username %></th>
      <th width="10%"><%=t :batch_url %></th>
      <th width="25%"><%=t :batch_tags %></th>
      <th width="45%"><%=t :batch_status %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr class="<%= cycle 'even', 'odd' %>">
        <td><%= item.id %></td>
        <td><%= link_to h(User.find_name(item.user_id)), :controller => "user", :action => "show", :id => item.user_id %></td>

        <td><%= h(File.basename(item.url)) %></td>
        <td><%= h(item.tags) %></td>
        <td>
          <% if item.status == "error" then %>
            <% if item.data["post_id"] then %>
              <%=t :batch_post %><%= link_to h(item.data["post_id"]), :controller => "post", :action => "show", :id => item.data["post_id"] %><%=t :batch_post_exists %>
            <% else %>
              <%= h(item.data["error"].to_s) %>
            <% end %>
          <% elsif item.status == "pending" then %>
            <% if item.active then %>
              <%=t :batch_uploading %>
            <% else %>
              <%=t :batch_pending %>
            <% end %>
          <% elsif item.status == "paused" then %>
            <%=t :batch_paused %>
          <% elsif item.status == "finished" then %>
            <%=t :batch_post %><%= link_to h(item.data["post_id"]), :controller => "post", :action => "show", :id => item.data["post_id"] %><%=t :batch_complete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="batch-buttons">
  <%= form_tag({:action => "create"}, :method => :get) do %>
    <%= submit_tag(t(:batch_queue_uploads), :name => "queue") %>
  <% end %>

  <%= form_tag({:action => "update"}) do %>
    <%= hidden_field_tag "do", "retry" %>
    <%= submit_tag(t(:batch_retry_failed)) %>
  <% end %>

  <%= form_tag({:action => "update"}) do %>
    <%= hidden_field_tag "do", "clear_finished" %>
    <%= submit_tag(t(:batch_clear)) %>
  <% end %>

  <%= form_tag({:action => "update"}) do %>
    <%= hidden_field_tag "do", "abort_all" %>
    <%= submit_tag(t(:batch_cancel)) %>
  <% end %>

  <%= form_tag({:action => "update"}) do %>
    <%= hidden_field_tag "do", "pause" %>
    <%= submit_tag(t(:batch_pause)) %>
  <% end %>

  <%= form_tag({:action => "update"}) do %>
    <%= hidden_field_tag "do", "unpause" %>
    <%= submit_tag(t(:batch_resume)) %>
  <% end %>
</div>

<div id="paginator">
  <%= will_paginate(@items) %>
</div>

