<div>
  <h4><%= t('.title') %></h4>

  <%= form_tag :action => :reset_password do %>
    <table class="form">
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag t('.reset') %>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th width="15%"><label class="block" for="user_name"><%= t('.name') %></label></th>
          <td width="85%">
            <%= text_field 'user', 'name', :class => 'ac-user-name' %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
