<% provide :title, t('.title') %>
<h2><%= t('.title') %></h2>

<div style="margin: 1em 0;">
  <div id="preview" class="response-list" style="display: none;">
  </div>

  <div id="reply" style="clear: both;">
    <%= form_tag({ action: 'create' }, class: 'forum-post-form') do %>
      <%= render 'shared/filter_spam' %>
      <%= hidden_field 'forum_post', 'parent_id', value: params['parent_id'] %>

      <label for="forum_post_title" class="forum-post-form__row forum-post-form__row--title">
        <div class="forum-post-form__title-label">
          <%= t('.post_title') %>
        </div>
        <%= text_field 'forum_post', 'title', class: 'forum-post-form__title-input' %>
      </label>

      <%= text_area 'forum_post', 'body', rows: 20, class: 'forum-post-form__row forum-post-form__row--body' %>

      <div class="forum-post-form__row">
        <%= submit_tag t('.post') %>
        <%= submit_to_remote "preview", t('.preview'), url: { action: 'preview' }, update: 'preview', success: "$('preview').show()" %>
      </div>
    <% end %>
  </div>

</div>

<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), action: 'index' %></li>
  <li><%= link_to t('.help'), help_path('forum') %></li>
<% end %>

<script type="text/javascript">
  $('forum_post_title').focus();
</script>
