<% content_for :subnavbar do %>
  <li><%= link_to t(:note_list), :action => "index" %></li>
  <li><%= link_to t(:note_search), :action => "search" %></li>
  <li><%= link_to t(:note_history), :action => "history" %></li>
  <li><%= link_to t(:note_requests), :controller => "post", :action => "index", :tags => "translation_request" %></li>
  <li><%= link_to t(:note_help), :controller => "help", :action => "notes" %></li>
<% end %>
