<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), :action => "index" %></li>
  <li><%= link_to t('.search'), :action => "search" %></li>
  <li><%= link_to t('.history'), :action => "history" %></li>
  <li><%= link_to t('.requests'), :controller => "post", :action => "index", :tags => "translation_request" %></li>
  <li><%= link_to t('.help'), help_path("notes") %></li>
<% end %>
