<% form_tag(:action => "create") do %>
  <%= hidden_field_tag "dmail[parent_id]", @dmail.parent_id || @dmail.id, :id => "dmail_parent_id" %>

  <table width="100%">
    <tfoot>
      <tr>
        <td></td>
        <td><%= submit_tag "Send" %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th><label for="dmail_to_name">To</label></th>
        <td><%= text_field_with_auto_complete "dmail", "to_name", {:value => params[:to]}, :min_chars => 3, :skip_style => true %></td>
      </tr>
      <tr>
        <th><label for="dmail_title">Title</label></th>
        <td><%= text_field "dmail", "title" %></td>
      </tr>
      <tr>
        <th><label for="dmail_body">Body</label></th>
        <td><%= text_area "dmail", "body", :size => "50x25", :class => "default" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
