<h4><%=t :dmail_mark_all_text %></h4>
<p><%=t :dmail_mark_all_text2 %></p>

<%= form_tag(:action => "mark_all_read") do %>
  <%= submit_tag t(:dmail_yes) %>
  <%= submit_tag t(:dmail_no) %>
<% end %>
