<div id="mail-show" class="mail">
  <div id="previous-messages" style="display: none;">
  </div>

  <%= render :partial => "message", :locals => {:message => @dmail} %>

  <div style="width: 50em; display: none;" id="response">
    <%= render :partial => "compose", :locals => {:from_id => @current_user.id} %>
  </div>

  <% content_for :footer do %>
    <li><%= link_to 'Show conversation', '#',
      class: 'js-dmail--expand',
      data: { dmail_parent_id: @dmail.parent_id || @dmail.id, dmail_id: @dmail.id }
    %></li>
    <% if @dmail.to_id == @current_user.id %>
      <li><%= link_to 'Respond', '#', class: 'js-dmail--respond', data: { dmail_name: @dmail.from.name } %></li>
    <% end %>
  <% end %>

  <%= render :partial => "footer" %>
</div>
