<% form_tag(:action => "update") do %>
  <table class="form">
    <tr>
      <th width="15%"><label for="tag_name">Name</label></th>
      <td width="85%"><%= text_field_with_auto_complete "tag", "name", {}, :min_chars => 3, :url => {:controller => "tag", :action => "auto_complete_for_tag_name"} %></td>
    </tr>
    <tr>
      <th><label for="tag_type">Type</label></th>
      <td><%= select "tag", "tag_type", CONFIG["tag_types"].keys.select {|x| x =~ /^[A-Z]/}.inject([]) {|all, x| all << [x, CONFIG["tag_types"][x]]} %></td>
    </tr>
    <tr>
      <th><label for="tag_is_ambiguous">Ambiguous</label></th>
      <td><%= check_box "tag", "is_ambiguous" %></td>
    </tr>
    <tr>
      <td colspan="2"><%= submit_tag "Save" %> <%= button_to_function "Cancel", "history.back()" %></td>
    </tr>
  </table>
<% end %>

<%= render :partial => "footer" %>
