<%= form_tag(:action => "update") do %>
  <table class="form">
    <tr>
      <th width="15%"><label for="tag_name"><%=t :tag_name %></label></th>
      <td width="85%">
        <%= text_field "tag", "name" %>
        <%= javascript_tag render(:partial => 'autocomplete_name', :formats => :js) %>
      </td>
    </tr>
    <tr>
      <th><label for="tag_type"><%=t :tag_type %></label></th>
      <td><%= select "tag", "tag_type", CONFIG["tag_types"].keys.select {|x| x =~ /^[A-Z]/}.inject([]) {|all, x| all << [x, CONFIG["tag_types"][x]]} %></td>
    </tr>
    <tr>
      <th><label for="tag_is_ambiguous"><%=t :tag_ambiguous %></label></th>
      <td><%= check_box "tag", "is_ambiguous" %></td>
    </tr>
    <tr>
      <td colspan="2"><%= submit_tag t(:tag_save) %> <%= button_to_function t(:tag_cancel), "history.back()" %></td>
    </tr>
  </table>
<% end %>

<%= render :partial => "footer" %>
