<%= form_tag({:action => "mass_edit"}, :onsubmit => "return confirm('#{t(:tag_js)}')") do %>
  <%= text_field_tag "start", params[:source], :size => 60 %>
  <%= text_field_tag "result", params[:name], :size => 60 %>
  <%= button_to_function t(:tag_js_preview), "$('preview').innerHTML = '#{t(:tag_js_preview_txt)}'; new Ajax.Updater('preview', '/tag/edit_preview', {method: 'get', parameters: 'tags=' + $F('start')})" %><%= submit_tag t(:tag_save) %>
<% end %>

<%= render :partial => "footer" %>

<div id="preview">
</div>
