<div id="tag-list">
  <h1><%= link_to '&laquo;', :controller => "tag", :action => "popular_by_month", :year => @day.last_month.year, :month => @day.last_month.month %> <%= @day.strftime("%B %Y") %> <%= link_to_unless @day >= Time.now, '&raquo;', :controller => "tag", :action => "popular_by_month", :year => @day.next_month.year, :month => @day.next_month.month %></h1>

  <%= cloud_view(@tags, 4) %>
</div>

<% content_for("footer") do %>
  <p><%= link_to "Popular by Day", :action => "popular_by_day" %> | <%= link_to "Popular by Week", :action => "popular_by_week" %> | <%= link_to "Popular by Month", :action => "popular_by_month" %></p>
<% end %>

<%= render :partial => "footer" %>
