<%= form_for @ad do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>
  <div>
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>
  <div>
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>
  <div>
    <%= f.label :referral_url %>
    <%= f.text_field :referral_url %>
  </div>
  <div>
    <%= f.label :ad_type %>
    <%= f.select :ad_type, ['horizontal', 'vertical'] %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <% if action_name == 'edit' %>
    <div>
      <%= f.label :reset_hit_count %>
      <%= f.check_box :reset_hit_count %>
    </div>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
