<div class="wiki-edit">
  <div class="wiki-edit__col wiki-edit__col--sidebar">
    <%= render :partial => "sidebar" %>
  </div>

  <div class="wiki-edit__col wiki-edit__col--content">
    <div id="wiki-view">
    </div>
    <%= form_tag({:action => "create"}, :level=>:member) do %>
      <%= text_field "wiki_page", "title" %>
      <%= render :partial => 'edit_buttons' %>
    <% end %>
  </div>

  <div class="wiki-edit__col wiki-edit__col--reference">
    <h4>Reference</h4>
    <div class="wiki-edit__reference-example">
      <%= render "reference" %>
    </div>
  </div>
</div>

<%= render :partial => "footer" %>
