<div class="wiki-edit">
  <div class="wiki-edit__col wiki-edit__col--sidebar">
    <%= render :partial => "sidebar" %>
  </div>

  <div class="wiki-edit__col wiki-edit__col--content">
    <h2 class="wiki-title"><%= h(@wiki_page.pretty_title) %> (Editing)</h2>
    <div id="wiki-view">
    </div>
    <%= form_tag({:action => "update"}, :level=>:member) do %>
      <%= hidden_field "wiki_page", "title", :value => @wiki_page.title %>
      <%= render :partial => 'edit_buttons' %>
    <% end %>
  </div>

  <div class="wiki-edit__col wiki-edit__col--reference">
    <h4>Reference</h4>
    <div class="wiki-edit__reference-example">
      <%= render "reference" %>
    </div>
  </div>
</div>

<%= render "footer" %>
