<% form_tag(:action => "update") do %>
  <%= hidden_field_tag "title", params[:title] %>
  <label for="wiki_page_title">Title</label> <%= text_field "wiki_page", "title" %><br>
  <%= submit_tag "Save" %> <%= button_to_function "Cancel", "history.back()" %>
<% end %>

<%= render :partial => "footer" %>
