<div id="artist-create">
  <p><%= t('.info') %></p>

  <%= form_tag({:action => "create"}, :level => :member) do %>
    <table class="form">
      <tr>
        <th><label for="artist_name"><%= t('.name') %></label></th>
        <td><%= text_field "artist", "name", :size => 80 %></td>
      </tr>
      <% if params[:alias_id] %>
        <tr>
          <th><label for="artist_alias_name"><%= t('.alias_for') %></label></th>
          <td><%= text_field "artist", "alias_name", :size => 80 %></td>
        </tr>
      <% end %>
      <tr>
        <th><label for="artist_alias_names"><%= t('.aliases') %></label</th>
        <td><%= text_field "artist", "alias_names", :size => 80, :value => params[:jp_name] %></td>
      </tr>
      <tr>
        <th><label for="artist_member_names"><%= t('.members') %></label></th>
        <td><%= text_field "artist", "member_names", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_urls"><%= t('.urls') %></label></th>
        <td><%= text_area "artist", "urls", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <th><label for="artist_notes"><%= t('.notes') %></label></th>
        <td><%= text_area "artist", "notes", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag t('buttons.save') %> <%= button_to_function t('buttons.cancel'), "history.back()" %></td>
      </tr>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
