<h4><%= t('.title') %></h4>
<p><%= t('.confirm', :name => @artist.name) %></p>

<%= form_tag({:action => "destroy"}, :level => :privileged) do %>
  <%= submit_tag t('buttons._yes') %>
  <%= submit_tag t('buttons._no') %>
<% end %>
