<h4><%=t :artist_delete %></h4>
<p><%=t :artist_delete_text %> <%= h @artist.name %><%=t :artist_delete_text_question_mark %></p>

<%= form_tag({:action => "destroy"}, :level => :privileged) do %>
  <%= submit_tag t(:artist_delete_yes) %>
  <%= submit_tag t(:artist_delete_no) %>
<% end %>
