<div id="artist-update">
  <p><%= t('artist.create.info')%></p>

  <div id="preview" style="display: none; margin: 1em 0;">
  </div>

  <%= form_tag({:action => "update"}, :level => :member) do %>
    <%= hidden_field_tag "id", @artist.id %>

    <table class="form">
      <tr>
        <th><label for="artist_name"><%= t('artist.create.name') %></label></th>
        <td><%= text_field "artist", "name", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_aliases"><%= t('artist.create.aliases') %></label></th>
        <td><%= text_field "artist", "alias_names", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_members"><%= t('artist.create.members') %></label></th>
        <td><%= text_field "artist", "member_names", :size => 80 %></td>
      </tr>
      <tr>
        <th><label for="artist_urls"><%= t('artist.create.urls') %></label></th>
        <td><%= text_area "artist", "urls", :size => "80x6", :class => "no-block" %></td>
      </tr>
      <tr>
        <th><label for="artist_notes"><%= t('artist.crete.notes') %></label></th>
        <td><%= text_area "artist", "notes", :size => "80x6", :class => "no-block", :disabled => @artist.notes_locked? %></td>
      </tr>
      <tr>
        <td colspan="2">
          <%= submit_tag t('buttons.save') %>
          <%= button_to_function t('buttons.cancel'), "history.back()" %>
          <%= submit_to_remote "preview", t('.preview'), :url => {:action => "preview"}, :method => :get, :update => "preview", :success => "$('preview').show()" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
