<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), :controller => "post", :action => "index" %></li>
  <li><%= link_to t('.browse'), {:controller => "post", :action => "browse", :anchor => "#{params[:id]}/#{params[:tags]}"} %></li>
  <li><%= link_to t('.upload'), :controller => "post", :action => "upload" %></li>
  <!-- <li id="my-subscriptions-container"><%= link_to t('.subs'), "/", :id => "my-subscriptions" %></li> -->
  <li><%= link_to t('.random'), :controller => "post", :tags => "order:random" %></li>
  <li><%= link_to t('.popular'), :controller => "post", :action => "popular_recent" %></li>
  <li><%= link_to t('.image_search'), :controller => "post", :action => "similar" %></li>
  <li><%= link_to t('.history'), :controller => "history", :action => "index" %></li>
  <% if @current_user.is_contributor_or_higher? %>
    <li><%= link_to t('.batch'), :controller => "batch" %></li>
  <% end %>
  <% if @current_user.is_janitor_or_higher? %>
    <li><%= link_to t('.mod'), {:controller => "post", :action => "moderate"}, :id => "moderate" %></li>
  <% end %>
  <%= yield :footer %>
  <li><%= link_to t('.help'), :controller => "help", :action => "posts" %></li>
<% end %>
