<div style="display: none;" class="post-hover-overlay" id="index-hover-overlay">
  <a href="#"><%= image_tag 'blank.gif', :alt => '' %></a>
</div>

<div style="display: none;" class="post-hover" id="index-hover-info">
  <div id="hover-top-line">
    <div style="float: right; margin-left: 0em;">
      <span id="hover-dimensions"></span>,
      <span id="hover-file-size"></span>
    </div>
    <div style="padding-right: 1em">
      <%= t('.post_number') %><span id="hover-post-id"></span>
    </div>
  </div>

  <div style="padding-bottom: 0.5em">
    <div style="float: right; margin-left: 0em;">
      <span id="hover-author"></span>
    </div>
    <div style="padding-right: 1em">
      <%= t('.score') %>: <span id="hover-score"></span>
      <%= t('.rating') %>: <span id="hover-rating"></span>
      <span id="hover-is-parent"><%= t('.parent') %></span>
      <span id="hover-is-child"><%= t('.child') %></span>
      <span id="hover-is-pending"><%= t('.pending') %></span>
      <span id="hover-not-shown"><%= t('.hidden') %></span>
    </div>
    <div>
      <span id="hover-is-flagged"><%= t('.flagged.by_html', :data => content_tag(:span, '', :id => 'hover-flagged-by'), :text => content_tag(:span, t('.flagged.text'), :class => 'flagged-text')) %>: <span id="hover-flagged-reason">gar</span></span>
    </div>
  </div>
  <div>
    <span id="hover-tags">
      <% CONFIG["tag_types"].values.uniq.map { |value| Tag.type_name_from_value(value) }.sort { |a,b|
        Tag.tag_list_order(a) <=> Tag.tag_list_order(b)
      }.each do |name| %>
        <span class="tag-type-<%= name %>"><a id="hover-tag-<%= name %>"></a></span>
      <% end %>
    </span>
  </div>
</div>

<% content_for :post_cookie_javascripts do %>
<script type="text/javascript">Post.hover_info_init();</script>
<% end %>

