<h4>Deleted Posts</h4>

<table width="100%" class="highlightable">
  <thead>
    <tr>
<!--      <th width="5%">Resolved</th> -->
      <th width="5%">Post</th>
      <th width="10%">User</th>
      <th width="45%">Tags</th>
      <th width="35%">Reason</th>
      <% if @current_user.is_mod_or_higher? %>
      <th width="1*">Deleted by</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr class="<%= cycle 'even', 'odd' %>">
<!--        <td><%= post.flag_detail.is_resolved? %></td> -->
        <td><%= link_to post.id, :action => "show", :id => post.id %></td>
        <td><%= link_to h(post.author), :controller => "user", :action => "show", :id => post.user_id %></td>
        <td><%= h(post.cached_tags) %></td>
        <td><%= h(post.flag_detail.reason) %></td>
        <% if @current_user.is_mod_or_higher? %>
        <td><%= link_to h(post.flag_detail.author), :controller => "user", :action => "show", :id => post.flag_detail.user_id %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="paginator">
  <%= will_paginate(@posts) %>
</div>

<%= render :partial => "footer" %>
