<h4><%=t :post_delete %></h4>

<% if CONFIG["can_see_post"].call(@current_user, @post) %>
  <%= image_tag @post.preview_url %>
<% end %>

<%= form_tag(:action => "destroy") do %>
  <%= hidden_field_tag "id", params[:id] %>
  <label><%=t :post_deleted_reason %></label> <%= text_field_tag "reason" %>
  <% if @post.is_deleted? %>
  <%= hidden_field_tag "destroy", "1" %>
  <% end %>

  <%= submit_tag @post.is_deleted? ? t(:post_delete_perma):t(:post_delete_delete) %> <%= submit_tag t(:post_delete_cancel) %>
<% end %>

<div class="deleting-post">
<% if !@post.is_deleted? %>
    <br>
    <p>
    <% if @post_parent %>
      <%=t :post_delete_parent_text %><p>
    <% if CONFIG["can_see_post"].call(@current_user, @post_parent) %>
      <ul id="post-list-posts"> <%= print_preview(@post_parent, :hide_directlink=>true) %> </ul>
    <% else %>
      <%=t :post_delete_access %>
    <% end %>

    <% else %>
      <%=t :post_delete_no_parent_text %><p>
    <% end %>
<% else %>
  <%=t :post_delete_perma_text %>
<% end %>
</div>

<%= render :partial => "footer" %>

<script type="text/javascript">$("reason").focus();</script>
