<div id="post-list"> 
  <% if @tag_suggestions && @tag_suggestions.any? %>
    <div class="status-notice">
      Maybe you meant: <%= @tag_suggestions.map {|x| tag_link(x)}.to_sentence(:connector => "or") %>
    </div>
  <% end %>

  <div class="sidebar">
    <%= render :partial => "search" %>
    <% if @current_user.is_privileged_or_higher? %>
    <div style="margin-bottom: 1em;" id="mode-box" class="advanced-editing">
      <h5>Mode</h5>
      <form onsubmit="return false;" action="">
        <div>
          <select name="mode" id="mode" onchange="PostModeMenu.change()" onkeyup="PostModeMenu.change()" style="width: 13em;">
            <option value="view">View posts</option>
            <option value="edit">Edit posts</option>
<!--            <option value="rating-s">Rate safe</option>
            <option value="rating-q">Rate questionable</option>
	    <option value="rating-e">Rate explicit</option>
            <% if @current_user.is_privileged_or_higher? %>
              <option value="lock-rating">Lock rating</option>
              <option value="lock-note">Lock notes</option>
            <% end %> -->
            <% if @current_user.is_mod_or_higher? %>
              <option value="approve">Approve post</option>
            <% end %>
            <option value="flag">Flag post</option>
            <option value="apply-tag-script">Apply tag script</option>
            <option value="reparent-quick">Reparent posts</option>
            <% if @searching_pool then %>
              <option value="remove-from-pool">Remove from pool</option>
            <% end %>
          </select>          
        </div>
      </form>
    </div>

    <%= render :partial => "tag_script" %>
    <% end %>

    <% if @searching_pool then %>
      Viewing pool <%= link_to(h(@searching_pool.pretty_name), :controller => "pool", :action => "show", :id => @searching_pool.id) %>.
    <% end %>

    <% if @showing_holds_only %>
      <% if !@posts.empty? %>
        <div style="margin-bottom: .5em;">
          <%= link_to_function "&raquo; Activate all held posts", "Post.activate_all_posts()" %>
        </div>
      <% end %>
    <% else %>
      <div id="held-posts" style="display: none; margin-bottom: .5em;">You have held <span id="held-posts-count"></span> (<a href="#">view</a>).</div>
    <% end %>

    <%= render :partial => 'blacklists' %>
    <%= render :partial => 'tags', :locals => {:include_tag_hover_highlight=>true} %>
    <% if CONFIG["can_see_ads"].call(@current_user) %>
    <%= render :partial => "vertical" %>
    <% end %>

  </div>
  <div class="content">    
    <% if @ambiguous_tags.any? %>
      <div class="status-notice">
        The following tags are ambiguous: <%= @ambiguous_tags.map {|x| link_to(h(x), :controller => "wiki", :action => "show", :title => x)} %>
      </div>
    <% end %>
    
    <div id="quick-edit" style="display: none;" class="top-corner-float">
      <% form_tag(:action => "update") do %>
        <%= text_area_tag "post[tags]", "", :size => "60x2", :id => "post_tags" %> 
        <%= submit_tag "Update" %>
        <%= tag(:input, :type => 'button', :value => "Cancel", :class => "cancel") %>
      <h4 style="float: right;">Edit Tags</h4>
      <% end %>
    </div>

    <%= render :partial => "hover" %>
    <%= render :partial => "posts", :locals => {:posts => @posts} %>

    <div id="paginator">
      <%= will_paginate(@posts) %>
    </div>
  </div>
</div>

<% content_for("post_cookie_javascripts") do %>
<script type="text/javascript">
  post_quick_edit = new PostQuickEdit($("quick-edit"));

  PostModeMenu.init(<%= j(@searching_pool && @searching_pool.id) %>)
  <% @preload.each do |post| %>
  Preload.preload('<%= escape_javascript(post.preview_url) %>');
  <% end %>

  var held_posts = Cookie.get("held_post_count");
  if(held_posts && held_posts > 0)
  {
    var e = $("held-posts");
    if(e)
    {
      var a = e.down("A");
      var cnt = e.down("#held-posts-count");
      cnt.update("" + held_posts + " " + (held_posts == 1? "post":"posts"));
      a.href = "/post/index?tags=holds%3Aonly%20user%3A" + Cookie.get("login") + "%20limit%3A100"
      e.show();
    }
  }
  Post.cache_sample_urls();
  new TagCompletionBox($("post_tags"));
  if($("tag-script"))
    new TagCompletionBox($("tag-script"));
</script>
<% end %>

<% content_for("html_header") do %>
  <%= auto_discovery_link_tag_with_id :rss, {:controller => "post", :action => "piclens", :tags => params[:tags], :page => params[:page]}, {:id => 'pl'} %>
  <%= navigation_links(@posts) %>
<% end %>

<%= render :partial => "footer" %>

<% if @content_for_subnavbar %>
  <!-- Align the links to the content, not the window. -->
  <div style="clear: both;">
    <div class="sidebar">&nbsp;</div>
    <div class="footer" style="clear: none;">
      <ul class="flat-list" id="subnavbar">
        <%= @content_for_subnavbar %>
      </ul>
    </div>
  </div>
  <% @content_for_subnavbar = nil %>
<% end %>

