<div id="post-popular">
  <h3><%= link_to '&laquo;', :controller => "post", :action => "popular_by_day", :year => @day.yesterday.year, :month => @day.yesterday.month, :day => @day.yesterday.day %> <%= @day.strftime("%B %d, %Y") %> <%= link_to_unless @day >= Time.now, '&raquo;', :controller => "post", :action => "popular_by_day", :year => @day.tomorrow.year, :month => @day.tomorrow.month, :day => @day.tomorrow.day %></h3>

  <%= render :partial => "posts", :locals => {:posts => @posts} %>
</div>

<% content_for("subnavbar") do %>
  <li><%= link_to "Popular", :controller => "post", :action => "popular_by_day", :month => @day.month, :day => @day.day, :year => @day.year %></li>
  <li><%= link_to "Popular (by week)", :controller => "post", :action => "popular_by_week", :year => @day.year, :month => @day.month, :day => @day.day %></li>
  <li><%= link_to "Popular (by month)", :controller => "post", :action => "popular_by_month", :year => @day.year, :month => @day.month %></li>
<% end %>

<%= render :partial => "footer" %>