<% provide :title, t('.title', :year => @start.year, :month => @start.month) %>
<div id="post-popular">
  <h3>
    <%= link_to '«', :controller => "post", :action => "popular_by_month", :year => 1.month.ago(@start).year, :month => 1.month.ago(@start).month %>
    <%= @start.strftime("%B %Y") %>
    <%= link_to_unless @start >= Time.now, '»', :controller => "post", :action => "popular_by_month", :year => @start.next_month.year, :month => @start.next_month.month %>
  </h3>

  <%= render :partial => "posts", :locals => {:posts => @posts} %>
</div>

<% content_for :subnavbar do %>
  <li><%= link_to t('.popular._'), :controller => "post", :action => "popular_by_day", :month => @start.month, :day => @start.day, :year => @start.year %></li>
  <li><%= link_to t('.popular.week'), :controller => "post", :action => "popular_by_week", :year => @start.year, :month => @start.month, :day => @start.day %></li>
  <li><%= link_to t('.popular.month'), :controller => "post", :action => "popular_by_month", :year => @start.year, :month => @start.month %></li>
<% end %>

<%= render :partial => "footer" %>
