<div id="post-popular">
  <h3><%= link_to '&laquo;', :controller => "post", :action => "popular_by_week", :year => 1.week.ago(@start).year, :month => 1.week.ago(@start).month, :day => 1.week.ago(@start).day %> <%= @start.strftime("%B %d, %Y") %> - <%= @end.strftime("%B %d, %Y") %> <%= link_to_unless @start >= Time.now, '&raquo;', :controller => "post", :action => "popular_by_week", :year => @start.next_week.year, :month => @start.next_week.month, :day => @start.next_week.day %></h3>

  <%= render :partial => "posts", :locals => {:posts => @posts} %>
</div>

<% content_for :subnavbar do %>
  <li><%= link_to "Popular", :controller => "post", :action => "popular_by_day", :month => @start.month, :day => @start.day, :year => @start.year %></li>
  <li><%= link_to "Popular (by week)", :controller => "post", :action => "popular_by_week", :year => @start.year, :month => @start.month, :day => @start.day %></li>
  <li><%= link_to "Popular (by month)", :controller => "post", :action => "popular_by_month", :year => @start.year, :month => @start.month %></li>
<% end %>

<%= render :partial => "footer" %>
