<div id="post-view">
  <% if @post.nil? %>
    <h2>Nobody here but us chickens!</h2>
  <% else %>
    <% if @post.can_be_seen_by?(@current_user) %>
      <script type="text/javascript"> Post.register(<%= @post.to_json %>) </script>
    <% end %>

    <%= render :partial => "post/show_partials/status_notices" %>

    <div class="sidebar">
      <%= render :partial => "search" %>
      <%= render :partial => "tags" %>
      <%= render :partial => "post/show_partials/statistics_panel" %>
      <%= render :partial => "post/show_partials/options_panel" %>
      <%= render :partial => "post/show_partials/related_posts_panel" %>
  <a href = "http://novelnews.net/" target = "_blank"><img src = "http://moe.imouto.org/images/encubed-01.png" alt="encubed" /></a>
  <br>
  <a href = "http://konachan.com/" target = "_blank"><img src = "http://konachan.com/images/button.png" alt="konachan" /></a>
  <% if CONFIG["can_see_ads"].call(@current_user) %>
  <%= render :partial => "vertical" %>
  <% end %>
    </div>
    <div class="content" id="right-col">
    <% if CONFIG["can_see_ads"].call(@current_user) %>
      <%= print_advertisement("horizontal") %>
      <% end %>
      <%= render :partial => "post/show_partials/image" %>      
      <%= render :partial => "post/show_partials/image_footer" %>
      <%= render :partial => "post/show_partials/edit" %>
      <%= render :partial => "post/show_partials/comments" %>
    </div>

    <% content_for("post_cookie_javascripts") do %>
      <script type="text/javascript">
        Post.observe_text_area("post_tags")

        RelatedTags.init(Cookie.get('my_tags'), '<%= params[:url] %>')
        if (Cookie.get('resize_image') == '1') {
          Post.resize_image()
        }
        var anchored_to_comment = window.location.hash == "#comments";
        if(window.location.hash.match(/^#c[0-9]+$/))
          anchored_to_comment = true;

        if (Cookie.get('show_defaults_to_edit') == '1' && !anchored_to_comment) {
          $('comments').hide();
          $('edit').show();
	}

        Post.init_post_show(<%= @post.id %>);

        <% if not @following_pool_post.nil? and not @cache %>
          OnKey(65, { AlwaysAllowOpera: true }, function(e) { Post.jump_to_post_in_pool(<%= @following_pool_post.prev_post_id.to_json %>, <%= @following_pool_post.pool_id.to_json %>); return true; });
          OnKey(83, { AlwaysAllowOpera: true }, function(e) { Post.jump_to_post_in_pool(<%= @following_pool_post.next_post_id.to_json %>, <%= @following_pool_post.pool_id.to_json %>); return true; });

          <% for pool_post in [@following_pool_post.next_post, @following_pool_post.prev_post] do %>
            <% next if pool_post.nil? %>
            Preload.preload(<%= pool_post.sample_url.to_json %>);
            var url = Post.get_url_for_post_in_pool(<%= pool_post.id %>, <%= @following_pool_post.pool_id %>);
            Preload.preload_raw(url);
          <% end %>
        <% end %>
      </script>
    <% end %>
  <% end %>
</div>

<%= render :partial => "footer" %>
