<div id="post-view">
  <div class="sidebar">
    <div>
      <h5><%= t('.related._') %></h5>
      <ul>
        <li><%= link_to t('.related.previous'), :controller => "post", :action => "show", :id => params[:id].to_i - 1 %></li>
        <li><%= link_to t('.related.next'), :controller => "post", :action => "show", :id => params[:id].to_i + 1 %></li>
        <li><%= link_to t('.related.random'), :controller => "post", :action => "random" %></li>
      </ul>
    </div>
  </div>
  <div>
    <p><%= t('.info') %></p>
  </div>
</div>
