<div id="post-list">
    <div class="sidebar">
      <%= render :partial => "search" %>
      <% if CONFIG["can_see_ads"].call(@current_user) %>
        <%= CONFIG["ad_code_index_side"] %>
      <% end %>
      <div style="margin-bottom: 1em;" id="mode-box">
        <h5><%=t :post_sim_mode %></h5>
        <form onsubmit="return false;" action="">
          <div>
            <select name="mode" id="mode" onchange="PostModeMenu.change()" onkeyup="PostModeMenu.change()" style="width: 13em;">
              <option value="view"><%=t :post_sim_view %></option>
              <option value="reparent"><%=t :post_sim_reparent %></option>
              <option value="dupe"><%=t :post_sim_dupe %></option>
              <option value="edit"><%=t :post_sim_edit %></option>
<!--              <option value="rating-s">Rate Safe</option>
              <option value="rating-q">Rate Questionable</option>
              <option value="rating-e">Rate Explicit</option>
              <% if @current_user.is_privileged_or_higher? %>
                <option value="lock-rating">Lock Rating</option>
                <option value="lock-note">Lock Notes</option>
              <% end %>-->
              <option value="flag"><%=t :post_sim_flag %></option>
              <option value="apply-tag-script"><%=t :post_sim_script %></option>
            </select>
          </div>
        </form>
      </div>

      <%= render :partial => "tag_script" %>
      <%= render :partial => 'blacklists' %>

      <div>
        <h5><%=t :post_sim_services %></h5>
        <ul>
          <li> <%= link_to t(:post_sim_services_text), :controller => "post", :action => "similar", :params => params.merge({:services=>"all"}) %>
          <% CONFIG["image_service_list"].map do |service, server| %>
          <li>
            <span class="service-link<%= " service-active" if @services.find { |s| s == service }%>">
              <%= image_tag(get_service_icon(service), :class=>"service-icon", :id=>"list") %>
              <%= link_to "#{service}", :controller => "post", :action => "similar", :params => params.merge({:services=>service}) %>
              <% if @errors[server] %>
                <%=t :post_sim_down %>
                <!-- <%= @errors[server][:message] %> -->
              <% end %>
            </span>
          <% end %>
        </ul>
      </div>
      <div>
        <h5><%=t :post_sim_options %></h5>
        <ul>
          <li><%= link_to (params[:forcegray] ? t(:post_sim_color) : t(:post_sim_gray)), params.merge({ :forcegray => (params[:forcegray] ? 0 : 1) }) %>
          <% unless params[:threshold] %>
          <li><%= link_to t(:post_sim_more), params.merge({ :threshold => 0 }) %></li>
          <% end %>
          <% if params[:url] %>
          <li>
          <%= link_to t(:post_sim_upload), :controller => "post", :action => "upload",
                  :url => (params[:full_url] or params[:url]),
                  :tags => params[:tags],
                  :rating => params[:rating],
                  :parent => params[:parent]
          %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if @initial %>
      <div id="duplicate">
        <%=t :post_sim_dupe_text %>
        <%=t :post_sim_dupe_text2 %><%= link_to "duplicate post guidelines", :controller => "wiki", :action => "show", :title => "duplicate post_guidelines" %><%=t :post_sim_dupe_period %>
        <ul>
        <li>
          <%=t :post_sim_dupe_text3 %>
          <%= link_to_function( "reparent", "$('mode').value = 'reparent'; PostModeMenu.change();"); %>
          <%=t :post_sim_dupe_text4 %>
        <li>
          <%=t :post_sim_dupe_text5 %>
          <%= link_to_function( t(:post_sim_dupe_text6), "$('mode').value = 'dupe'; PostModeMenu.change();"); %>.
        <li>
          <form action=<%= url_for(:action => "destroy", :name=>"destroy") %> id="destroy" method="post">
            <%= hidden_field_tag "id", params[:id], :id=>"destroy_id" %>
            <%= hidden_field_tag "reason", "duplicate" %>
            <%=t :post_sim_dupe_text7 %>
            <%= link_to_function( t(:post_sim_dupe_text8), nil) do |page| page.call "$('destroy').submit" end %>.
          </form>
        </ul>
        <div id="blacklisted-notice" style="display: none;">
          <%=t :post_sim_dupe_text9 %><b><%=t :post_sim_dupe_text10 %></b><%=t :post_sim_dupe_text11 %>
        </div>
      </div>
    <% end %>
    <div class="content">
      <div id="quick-edit" style="display: none; margin-bottom: 1em;">
        <h4><%=t :post_sim_edit_tags %></h4>
        <%= form_tag(:action => "update") do %>
          <%= hidden_field_tag "id", "" %>
          <%= hidden_field_tag "post[old_tags]", "" %>
          <%= text_area_tag "post[tags]", "", :size => "60x2", :id => "post_tags" %>
          <%= submit_tag t(:post_sim_update) %>
          <%= tag(:input, :type => 'button', :value => t(:post_sim_cancel), :class => "cancel") %>
        <% end %>
      </div>

      <% unless @initial %>
      <%= form_tag({:controller => "post", :action => "similar"}, :multipart => true, :id => "similar-form") do %>
        <input name="forcegray" type="hidden" value="<%= h(@params[:forcegray]) %>">
        <input name="services" type="hidden" value="<%= h(@params[:services]) %>">
        <input name="threshold" type="hidden" value="<%= h(@params[:threshold]) %>">


        <table class="form">
          <tfoot>
            <tr>
              <td colspan="2"><%= submit_tag t(:post_search), :tabindex => 3, :accesskey => "s" %></td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <th>
                <label for="url"><%=t :post_source %></label>
              </th>
              <td>
                <input id="url" name="url" size="50" type="text" tabindex="1" value="<%= h(params[:url]) %>">
              </td>
            </tr>
            <tr>
              <th width="20%"><label for="post_file"><%=t :post_file %></label></th>
              <td width="80%"><input id="file" name="file" size="50" tabindex="2" type="file"></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <% end %>

      <% if not @posts.nil? %>
      <%= render :partial => "posts", :locals => {:posts => @posts} %>
      <% end %>

      <div id="paginator"></div>

      <% if params[:full_url] %>
      <img src="<%= params[:full_url] %>"/>
      <% end %>
    </div>
</div>
<% content_for :post_cookie_javascripts do %>
<script type="text/javascript">
  <% unless @initial %>
  $("url").focus();
  <% end %>

  <% if params[:id] %>
  // for post_mode_menu.js:click
  id=<%= params[:id] %>;
  <% end %>

  post_quick_edit = new PostQuickEdit($("quick-edit"));

  PostModeMenu.init()

  var form = $("similar-form");
  if(form && SimilarWithThumbnailing)
    new SimilarWithThumbnailing(form);
</script>
<% end %>

<%= render :partial => "footer" %>
