<div id="post-add">
  <div id="static_notice" style="display: none;"></div>

  <% if @deleted_posts > 0 %>
    <div id="posts-deleted-notice" class="has-deleted-posts" style="margin-bottom: 1em;">
      <%= @deleted_posts == 1? "One":"Some" %> of your posts <%= @deleted_posts == 1? "was":"were" %>
      <a href="<%= url_for :action => "deleted_index", :user_id => @current_user.id %>">recently deleted</a>.
      (<%= link_to_function "dismiss this message", 'Post.acknowledge_new_deleted_posts();' %>)
    </div>
  <% end %>

  <% unless @current_user.is_privileged_or_higher? %>
    <div style="margin-bottom: 2em;">
      <h4>Upload Guidelines</h4>
      <p>Please keep the following guidelines in mind when uploading something. Consistently violating these rules will result in a ban.</p>
      <ul>
        <li>Do not upload <%= link_to "furry", :controller => "wiki", :action => "show", :title => "furry" %>, <%= link_to "yaoi", :controller => "wiki", :action => "show", :title => "yaoi" %>, <%= link_to "guro", :controller => "wiki", :action => "show", :title => "guro" %>, <%= link_to "toon", :controller => "wiki", :action => "show", :title => "toon" %>, or <%= link_to "poorly drawn", :controller => "wiki", :action => "show", :title => "poorly_drawn" %> art</li>
        <li>Do not upload things with <%= link_to "compression artifacts", :controller => "wiki", :action => "show", :title => "compression_artifacts" %></li>
        <li>Do not upload things with <%= link_to "obnoxious watermarks", :controller => "wiki", :action => "show", :title => "watermark" %></li>
        <li><%= link_to "Group doujinshi, manga pages, and similar game CGs together", :controller => "help", :action => "post_relationships" %></li>
        <li>Read the <%= link_to "tagging guidelines", :controller => "help", :action => "tags" %></li>
      </ul>
      <p>You can only upload <%= pluralize CONFIG["member_post_limit"] - Post.count(:conditions => ["user_id = ? AND created_at > ?", @current_user.id, 1.day.ago]), "post" %> today.</p>
    </div>
  <% end %>
  
  <% form_tag({:controller => "post", :action => "create"}, :level => :member, :multipart => true, :id => "edit-form") do %>
    <div id="posts">
      <% if params[:url] %>
        <%= image_tag(params["url"], :title => "Preview", :id => "image") %>
        <p id="scale"></p>
        <script type="text/javascript">
        document.observe("dom:loaded", function() {
          if ($("image").height > 400) {
            var width = $("image").width
            var height = $("image").height
            var ratio = 400.0 / height
            $("image").width = width * ratio
            $("image").height = height * ratio
            $("scale").innerHTML = "Scaled " + parseInt(100 * ratio) + "%"
          }
        })
        </script>
      <% end %>

      <table class="form">
        <tfoot>
          <tr>
            <td></td>
            <td>
              <%= submit_tag "Upload", :tabindex => 8, :accesskey => "s", :class => "submit", :style => "margin: 0;" %>
              <%= submit_tag "Cancel", :tabindex => 8, :accesskey => "s", :class => "cancel", :style => "display: none; vertical-align: bottom; margin: 0;" %>
              <div id="progress" class="upload-progress-bar" style="display: none;">
                <div class="upload-progress-bar-fill"></div>
              </div>
              <span style="display: none;" id="post-exists">This post already exists: <a href="#" id="post-exists-link"></a></span>
              <span style="display: none;" id="post-upload-error"></span>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th width="15%"><label for="post_file">File</label></th>
            <td width="85%"><%= file_field "post", "file", :size => 50, :tabindex => 1 %></td>
          </tr>
          <tr>
            <th>
              <label for="post_source">Source</label>
              <% unless @current_user.is_privileged_or_higher? %>
                <p>You can enter a URL here to download from a website.</p>
              <% end %>
            </th>
            <td>
              <%= text_field "post", "source", :value => params["url"], :size => 50, :tabindex => 2 %>
              <% if CONFIG["enable_artists"] %>
                <%= link_to_function("Find artist", "RelatedTags.find_artist($F('post_source'))") %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              <label for="post_tags">Tags</label>
              <% unless @current_user.is_privileged_or_higher? %>
                <p>Separate tags with spaces. (<%= link_to "help", {:controller => "help", :action => "tags"}, :target => "_blank" %>)</p>
              <% end %>
            </th>
            <td>
              <%= text_area "post", "tags", :value => params[:tags], :size => "60x2", :tabindex => 3 %>
              <%= link_to_function "Related tags", "RelatedTags.find('post_tags')" %> | 
              <%= link_to_function "Related artists", "RelatedTags.find('post_tags', 'artist')" %> |
              <%= link_to_function "Related characters", "RelatedTags.find('post_tags', 'char')" %> |
              <%= link_to_function "Related copyrights", "RelatedTags.find('post_tags', 'copyright')" %> |
              <%= link_to_function "Related circles", "RelatedTags.find('post_tags', 'circle')" %>
            </td>
          </tr>
          <% if CONFIG["enable_parent_posts"] %>
            <tr>
              <th><label for="post_parent_id">Parent</label></th>
              <td><%= text_field "post", "parent_id", :value => params["parent"], :size => 5, :tabindex => 4 %></td>
            </tr>
          <% end %>
          <tr>
            <th>
              <label for="post_rating_questionable">Rating</label>
              <% unless @current_user.is_privileged_or_higher? %>
                <p>Explicit tags include sex, pussy, penis, masturbation, blowjob, etc. (<%= link_to "help", {:controller => "help", :action => "ratings"}, :target => "_blank" %>)</p>
              <% end %>
            </th>
            <td>
              <input id="post_rating_explicit" name="post[rating]" type="radio" value="Explicit" <% if (params[:rating] or "q") == "e" %>checked="checked"<% end %> tabindex="5">
              <label for="post_rating_explicit">Explicit</label>

              <input id="post_rating_questionable" name="post[rating]" type="radio" value="Questionable" <% if (params[:rating] or "q") == "q" %>checked="checked"<% end %> tabindex="6">
              <label for="post_rating_questionable">Questionable</label>

              <input id="post_rating_safe" name="post[rating]" type="radio" value="Safe" <% if (params[:rating] or "q") == "s" %>checked="checked"<% end %> tabindex="7">
              <label for="post_rating_safe">Safe</label>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="related"><em>None</em></div>
    </div>
  <% end %>
  
</div>

<script type="text/javascript">
  Post.observe_text_area("post_tags")
  if (Cookie.get("upload-disclaimer") == "1") {
    $("upload-disclaimer").hide()
  }

  /* Set up PostUploadForm in dom:loaded, to make sure the login handler can attach to
   * the form first. */
  document.observe("dom:loaded", function() {
    var form = $("edit-form");
    form.down("#post_file").on("change", function(e) { form.down("#post_tags").focus(); });

    if(form)
      new PostUploadForm(form, $("progress"));
  }.bindAsEventListener(null));
</script>

<% content_for("post_cookie_javascripts") do %>
  <script type="text/javascript">
    RelatedTags.init(Cookie.unescape(Cookie.get('my_tags')), '<%= params[:ref] || params[:url] %>')
  </script>
<% end %>

<%= render :partial => "footer" %>
