<div id="static-index">
  <h1 id="static-index-header"><%= link_to(CONFIG['app_name'], "/") %></h1>
  <div style="margin-bottom: 1em;" id="links">
    <%= link_to "Posts", {:controller => "post", :action => "index"}, :title => 'A paginated list of every post' %>
    <%= link_to "Comments", {:controller => "comment", :action => "index"}, :title => 'A paginated list of every comment' %>
    <%= link_to "Tags", {:controller => "tag", :action => "index"}, :title => 'A paginated list of every tag' %>
    <%= link_to "Wiki", {:controller => "wiki"}, :title => 'Wiki' %>
    <%= link_to "&raquo;", {:controller => "static", :action => "more"}, :title => "A site map" %>
  </div>
  <div style="margin-bottom: 2em;">
    <% form_tag({:controller => 'post', :action => 'index'}, :method => "get") do %>
      <div>
        <%= text_field_tag "tags", "", :size => 30 %><br>
        <%= submit_tag "Search", :name => 'searchDefault' %>
      </div>
    <% end %>
  </div>
  <div style="font-size: 80%; margin-bottom: 2em;">
    <p>
      <% if @current_user %>
        <%= mail_to CONFIG["admin_contact"], "Contact", :encode => "javascript" %> &ndash;
      <% end %>
      Serving <%= number_with_delimiter Post.fast_count %> posts &ndash; Running Moebooru <%= CONFIG["version"] %>
      <br />
      Domain donated by <a href = "https://twitter.com/#!/akiba_rika">Akiba_Rika</a>
    </p>
  </div>
</div>
