<div id="static-more">
  <h2><%= link_to CONFIG['app_name'], '/', :id => "site-link" %></h2>
  <div>
    <ul>
      <li><h4>Posts</h4></li>
      <li><a href="/help/posts">Help</a></li>
      <li><a href="/post/atom">Atom Feed</a></li>
      <li><a href="/post/index">Listing</a></li>
      <li><a href="/post/similar">Image Search</a></li>
      <li><a href="/post/popular_recent">Popular (last 24 hours)</a></li>
      <li><a href="/post/popular_by_day">Popular (by day)</a></li>
      <li><a href="/post/popular_by_week">Popular (by week)</a></li>
      <li><a href="/post/popular_by_month">Popular (by month)</a></li>
      <li><a href="/post/random">Random</a></li>
      <li><a href="/post/deleted_index">Recent Deletions</a></li>
      <li><a href="/history/index">History</a></li>
      <li><a href="/post/upload">Upload</a></li>
    </ul>
    <ul>
      <li><h4>Tools</h4></li>
      <li><a href="/help/bookmarklet">Bookmarklet</a></li>
      <li><a href="http://unbuffered.info/danbooruup">Firefox Extension</a></li>
      <li><a href="/help/api">API Documentation</a></li>
    </ul>
    <% if CONFIG["enable_reporting"] %>
      <ul>
        <li><h4>Reports</h4></li>
        <li><a href="/report/note_updates">Note Updates</a></li>
        <li><a href="/report/tag_updates">Tag Updates</a></li>
        <li><a href="/report/wiki_updates">Wiki Updates</a></li>
        <li><a href="/report/post_uploads">Post Uploads</a></li>
        <li><a href="/report/votes">User Votes</a></li>
	<!-- <li><a href="/stats/awstats.danbooru.html">Web Server Statitics</a></li> -->
	<li><a href="/job_task/index">Job Tasks</a></li>
      </ul>
    <% end %>
  </div>
  <div>
    <ul>
      <li><h4>Tags</h4></li>
      <li><a href="/help/tags">Help</a></li>
      <li><a href="/tag_alias/index">Aliases</a></li>
      <li><a href="/tag_implication/index">Implications</a></li>
      <li><a href="/tag/edit">Edit</a></li>
      <li><a href="/tag/cloud">List (cloud view)</a></li>
      <li><a href="/tag/index">List (all)</a></li>
      <li><a href="/tag/mass_edit">Mass Edit</a></li>
    </ul>
    <ul>
      <li><h4>Notes</h4></li>
      <li><a href="/help/notes">Help</a></li>
      <li><a href="/note/history">History</a></li>
      <li><a href="/note/index">Listing</a></li>
    </ul>
    <% if CONFIG["enable_artists"] %>
      <ul>
        <li><h4>Artists</h4></li>
        <li><a href="/help/artists">Help</a></li>
        <li><a href="/artist/index">Listing</a></li>
      </ul>
    <% end %>
    <ul>
      <li><h4>Pools</h4></li>
      <li><a href="/help/pools">Help</a></li>
      <li><a href="/pool/index">Listing</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><h4>Comments</h4></li>
      <li><a href="/help/comments">Help</a></li>
      <li><a href="/comment/index">Listing</a></li>
      <li><a href="/comment/moderate">Moderate</a></li>
    </ul>
    <ul>
      <li><h4>Forum</h4></li>
      <li><a href="/help/forum">Help</a></li>
      <li><a href="/forum/index">Listing</a></li>
      <li><a href="/inline/index">Inline Images</a></li>
    </ul>
    <ul>
      <li><h4>Wiki</h4></li>
      <li><a href="/help/wiki">Help</a></li>
      <li><a href="/wiki/index">Listing</a></li>
      <li><a href="/wiki/history">History</a></li>
    </ul>
    <ul>
      <li><h4>Miscellaneous</h4></li>
      <li><%= link_to "Source", "http://bitbucket.org/edogawaconan/moebooru" %></li>
      <li><%= link_to "Original Danbooru", "http://trac.donmai.us" %></li>
    </ul>
  </div>
  <div>
    <ul>
      <li><h4>Users</h4></li>
      <% if @current_user.id == 0 %>
        <li><%= link_to "Login", :controller => "user", :action => "login" %></li>
        <li><%= link_to "Signup", :controller => "user", :action => "signup" %></li>
        <li><%= link_to "Reset Password", :controller => "user", :action => "reset_password" %></li>
      <% else %>
        <li><%= link_to "Home", :controller => "user", :action => "home" %></li>
        <li><%= link_to "Logout", :controller => "user", :action => "logout" %></li>
        <li><%= link_to "My Profile", :controller => "user", :action => "show", :id => @current_user.id %></li>
        <li><%= link_to "Records", :controller => "user_record", :action => "index" %></li>
        <li><%= link_to "Settings", :controller => "user", :action => "edit" %></li>
        <li><%= link_to "Blocked Users", :controller => "user", :action => "show_blocked_users" %></li>
        <li><%= link_to "Change Password", :controller => "user", :action => "change_password" %></li>
        <li><%= link_to "Invites", :controller => "user", :action => "invites" %></li>
      <% end %>
      <li><%= link_to "Help", :controller => "help", :action => "users" %></li>
      <li><%= link_to "Listing", :controller => "user", :action => "index" %></li>
      <li><%= link_to "Terms of Service", :controller => "static", :action => "terms_of_service" %></li>
    </ul>
    <% if @current_user.is_admin_or_higher? %>
      <ul>
        <li><h4>Admin</h4></li>
        <li><%= link_to "Edit User", :controller => "admin", :action => "edit_user" %>
        <li><%= link_to "Reset Password", :controller => "admin", :action => "reset_password" %>
      </ul>
    <% end %>
  </div>
</div>
