<% form_tag(:action => "block") do %>
  <%= hidden_field "ban", "user_id" %>
  <table class="form">
    <tfoot>
      <tr>
        <td></td>
        <td><%= submit_tag "Submit" %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th><label for="ban_reason">Reason</label></th>
        <td><%= text_area "ban", "reason", :size => "40x5" %></td>
      </tr>
      <tr>
        <th>
          <label for="ban_duration">Duration (days)</label>
        </th>
        <td><%= text_field "ban", "duration", :size => 10 %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= render :partial => "footer" %>
