<div id="user-edit">
  <%= form_for @current_user, :url => { :action => :update } do |f| %>
    <%= hidden_field :render, :view, :value => :change_password %>
    <%= render 'shared/error_messages', :object => f.object %>
    <table>
      <tbody>
        <tr>
          <th><%= f.label :current_password %></th>
          <td><%= f.password_field :current_password %></td>
        </tr>
        <tr>
          <th><%= f.label :password, t(:new_password) %></th>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation %></th>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
        <tr>
          <td><%= f.submit t('save_button') %> <%= f.submit t('cancel_button') %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
