<div id="user-edit">
  <% form_tag(:action => "update") do %>
    <table>
      <tbody>
        <tr>
          <th><label>New Password</label></th>
          <td><%= password_field "user", "password" %></td>
        </tr>
        <tr>
          <th><label>Confirm Password</label></th>
          <td><%= password_field "user", "password_confirmation" %></td>
        </tr>
        <tr>
          <td><%= submit_tag "Save" %> <%= submit_tag "Cancel" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
