<div id="user-edit">
  <%= form_tag(:action => "update") do %>
    <table>
      <tbody>
        <tr>
          <th><label><%=t :user_new_pwd %></label></th>
          <td><%= password_field "user", "password" %></td>
        </tr>
        <tr>
          <th><label><%=t :user_confirm_pwd %></label></th>
          <td><%= password_field "user", "password_confirmation" %></td>
        </tr>
        <tr>
          <td><%= submit_tag t(:user_save) %> <%= submit_tag t(:user_cancel) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
