<div id="user-login" class="page">
  <h4>Login</h4>
  <% if @current_user.is_unactivated? %>
    <p>You have not yet activated your account. Click <%= link_to "here", :action => "resend_confirmation" %> to resend your confirmation email to <%= h @current_user.email %>.</p>
  <% else %>
    <p>
      You need an account to access some parts of <%= h CONFIG["app_name"] %>. 
      <% unless @current_user.is_anonymous? %>
        Click <%= link_to "here", :action => "reset_password" %> to reset your password.
      <% end %>
      <% if @current_user.is_anonymous? %>
        <% if CONFIG["enable_signups"] %>
          You can register for an account <%= link_to "here", :action => "signup" %>.
        <% else %>
          Registration is currently disabled.
        <% end %>
      <% end %>
    </p>
  <% end %>
  
  <% form_tag({:action => "authenticate"}) do %>
    <%= hidden_field_tag "url", params[:url] %>
    <table class="form">
      <tr>
        <th width="15%"><label class="block" for="user_name">Name</label></th>
        <td width="85%"><%= text_field "user", "name", :tabindex => 1 %></td>
      </tr>
      <tr>
        <th><label class="block" for="user_password">Password</label></th>
        <td><%= password_field "user", "password", :tabindex => 1 %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Login", :tabindex => 1 %></td>
      </tr>
    </table>
  <% end %>    
</div>

<%= render :partial => "footer" %>