<div class="page">
  <p><%=t :user_resend %></p>
  <%= form_tag(:action => "resend_confirmation") do %>
    <table class="form">
      <tbody>
        <tr>
          <th>
            <label class="block" for="email"><%=t :user_resend_email %></label>
          </th>
          <td>
            <%= text_field_tag "email" %>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag t(:user_resend_submit) %>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
