<div class="page">
  <h4><%=t :user_reset %></h4>
  <p><%=t :user_reset_text %></p>

  <%= form_tag(:action => "reset_password") do %>
    <table class="form">
      <tbody>
        <tr>
          <th>
            <label class="block" for="user_name"><%=t :user_reset_name %></label>
          </th>
          <td>
            <%= text_field "user", "name" %>
          </td>
        </tr>
        <tr>
          <th><label class="block" for="user_email"><%=t :user_reset_email %></label></th>
          <td><%= text_field "user", "email" %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag t(:user_resend_submit) %>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>
