<div style="width: 40em;">
<h4>Signup</h4>

<% if !CONFIG["enable_signups"] %>
  <p>Signups are currently disabled.</p>
<% else %>
  <p>By creating an account, you are agreeing to the <a href="/static/terms_of_service">terms of service</a>. <strong>Remember that this site is open to web crawlers, so people will be able to easily search your name.</strong></p>
  
  <% form_tag(:controller => "user", :action => "create") do %>
    <table class="form">
      <tfoot>
        <tr>
          <td colspan="2">
            <input type="submit" value="Signup">
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th width="15%">
            <label class="block" for="user_name">Name</label>
            <p>Please remember your name will be easy to Google on this site.</p>
          </th>
          <td width="85%">
            <%= text_field "user", "name", :size => 30 %>
          </td>
        </tr>
        <tr>
          <th>
            <label class="block" for="user_email">Email</label>
            <p>Optional, for email notifications and password resets.</p>
          </th>
          <td>
            <%= text_field "user", "email", :size => 30 %>
          </td>
        </tr>
        <tr>
          <th>
            <label class="block" for="user_password">Password</label>
            <p>Minimum of five characters.</p>
          </th>
          <td>
            <%= password_field "user", "password", :size => 30 %>
          </td>
        </tr>
        <tr>
          <th>
            <label class="block" for="user_password_confirmation">Confirm password</label>
          </th>
          <td>
            <%= password_field "user", "password_confirmation", :size => 30 %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
</div>
<%= render :partial => "footer" %>
