<% if !@post.is_deleted? %>
  <div>
    <% if !@post.can_be_seen_by?(@current_user) %>
      <p>You need a privileged account to see this image.</p>
    <% elsif @post.image? %>
      <div id="note-container">
        <% @post.active_notes.each do |note| %>
          <div class="note-box" style="width: <%= note.width %>px; height: <%= note.height %>px; top: <%= note.y %>px; left: <%= note.x %>px;" id="note-box-<%= note.id %>">
            <div class="note-corner" id="note-corner-<%= note.id %>"></div>
          </div>
           <div class="note-body" id="note-body-<%= note.id %>" title="Click to edit"><%= hs note.formatted_body %></div>
        <% end %>
      </div>
      <%= image_tag(@post.sample_url(@current_user),
                    :alt => @post.cached_tags,
                    :id => 'image',
                    :class => "image",
                    :width => @post.get_sample_width(@current_user),
                    :height => @post.get_sample_height(@current_user),
                    :orig_width => @post.width,
                    :orig_height => @post.height) %>
    <% elsif @post.flash? %>
      <object width="<%= @post.width %>" height="<%= @post.height %>">
        <param name="movie" value="<%= @post.file_url %>">
        <embed src="<%= @post.file_url %>" width="<%= @post.width %>" height="<%= @post.height %>" allowScriptAccess="never"></embed>
      </object>

      <p><%= link_to "Save this flash (right click and save)", @post.file_url %></p>
    <% else %>
      <h2><a href="<%= @post.file_url %>">Download</a></h2>
      <p>You must download this file manually.</p>
    <% end %>
  </div>
  <div style="margin-bottom: 1em;">
    <p id="note-count"></p>
    <script type="text/javascript">
      Note.post_id = <%= @post.id %>

      <% @post.active_notes.each do |note| %>
        Note.all.push(new Note(<%= note.id %>, false, '<%= h note.body.to_escaped_js %>'))
      <% end %>

      Note.updateNoteCount()
      Note.show()

      new WindowDragElement($("image"));

      $("image").observe("click", function(e) { if(!e.stopped) Note.toggle(); }.bindAsEventListener());
    </script>
  </div>
<% end %>

