<div class="status-notice" id="pool<%= pool.id %>">
  <div style="display: inline;">
    <p>
      <% if pool_post.prev_post_id %>
        <%= link_to "« Previous", :action => "show", :id => pool_post.prev_post_id, :pool_id => pool_post.pool_id %>
      <% end %>
      <% if pool_post.next_post_id %>
        <%= link_to "Next »", :action => "show", :id => pool_post.next_post_id, :pool_id => pool_post.pool_id %>
      <% end %>
      This post is <span id="pool-seq-<%= pool_post.pool_id %>"><%= h(pool_post.pretty_sequence) %></span>
      in the <%= link_to h(pool.pretty_name), :controller => "pool", :action => "show", :id => pool.id %> pool
      <% pooled_post_id = @post.id %>

    <% if @current_user.can_change?(pool_post, :active) %>
      <span class="advanced-editing">
        (<%= link_to_function "remove", "if(confirm('Are you sure you want to remove this post from #{escape_javascript(pool.pretty_name)}?')) Pool.remove_post(#{@post.id}, #{pool.id})"
        -%>, <%= link_to_function "change page", "Pool.change_sequence(#{@post.id}, #{pool_post.pool_id}, #{pool_post.sequence.to_json})"
        -%><%- if not @post.parent_id.nil?
        -%>, <%= link_to_function "transfer to parent", "if(confirm('Are you sure you want to remove this post from #{escape_javascript(pool.pretty_name)} and add the parent post instead?')) Pool.transfer_post(#{@post.id}, #{@post.parent_id}, #{pool.id}, #{pool_post.sequence.to_json})"
        -%><%- end -%>)
      </span>
    <%- end %>
    </p>
  </div>
</div>
