<div class="status-notice" id="pool<%= pool.id %>">
  <div style="display: inline;">
    <p>
      <% if pool_post.prev_post_id %>
        <%= link_to "&laquo; Previous", :action => "show", :id => pool_post.prev_post_id %>
      <% end %>
      <% if pool_post.next_post_id %>
        <%= link_to "Next &raquo;", :action => "show", :id => pool_post.next_post_id %>
      <% end %>
      This post is <span id="pool-seq-<%= pool_post.pool_id %>"><%= h(pool_post.pretty_sequence) %></span>
      in the <%= link_to h(pool.pretty_name), :controller => "pool", :action => "show", :id => pool.id %> pool
    <% if pool_post.master_id %>
      <% pooled_post = pool_post.master.post %>
      <% pooled_post_id = pooled_post.id %>
      through its child <%= link_to "post ##{pooled_post_id}", :id => pooled_post_id %>
    <% else %>
      <% pooled_post = @post %>
      <% pooled_post_id = pooled_post.id %>
    <% end %>

    <% if @current_user.can_change?(pool_post, :active) %>
    <span class="advanced-editing" style="display: none;">
    (<%= link_to_function "remove",
     "if(confirm('Are you sure you want to remove this post from #{escape_javascript(pool.pretty_name)}?')) Pool.remove_post(#{pooled_post_id}, #{pool.id})"
     %>, <%= link_to_function "change page",
     "Pool.change_sequence(#{pooled_post_id}, #{pool_post.pool_id}, #{pool_post.sequence.to_json})"
     %><% if not pooled_post.parent_id.nil? %>,
     <%= link_to_function "transfer to parent",
     "if(confirm('Are you sure you want to remove this post from #{escape_javascript(pool.pretty_name)} and add the parent post instead?')) Pool.transfer_post(#{pooled_post_id}, #{pooled_post.parent_id}, #{pool.id}, #{pool_post.sequence.to_json})"
    %><% end %><%
    %><% end %><%

    %><% if not pool_post.slave_id.nil? %>,
      <span id="pool-detach-<%= pool.id %>-<%= pool_post.slave.post_id %>">
    <%= link_to_function "detach parent from pool",
     "if(confirm('Are you sure you want to remove the parent post from #{escape_javascript(pool.pretty_name)}, and show this post instead?')) Pool.detach_post(#{pool_post.slave.post_id}, #{pool.id}, true)"
    %><%
    %></span><%
    %><% end %><%
 
    %><% if not pool_post.master_id.nil? %>,
      <span id="pool-detach-<%= pool.id %>-<%= pool_post.post_id %>">
    <%= link_to_function "detach from pool",
     "if(confirm('Are you sure you want to remove this post from #{escape_javascript(pool.pretty_name)}, and show the original post instead?')) Pool.detach_post(#{pool_post.post_id}, #{pool.id}, false)"
    %></span><%
    %><% end %>)
    </span>
    </p>
  </div>
</div>
