<div>
  <h5><%=t :post_related %></h5>
  <ul>
    <li>
      <%=
        link_to_if @post.previous_id, t(:post_related_previous), :controller => "post", :action => "show", :id => @post.previous_id do |name|
          name
        end
      %>
    </li>
    <li>
      <%=
        link_to_if @post.next_id, t(:post_related_next), :controller => "post", :action => "show", :id => @post.next_id do |name|
          name
        end
      %>
    </li>
    <% if @post.parent_id %>
      <li><%= link_to t(:post_related_parent), :controller => "post", :action => "show", :id => @post.parent_id %></li>
    <% end %>
    <li><%= link_to t(:post_related_random), :controller => "post", :action => "random" %></li>
    <% if @current_user.is_member_or_higher? %>
    <% unless @post.is_deleted? || !@post.image? %>
      <li><a id="find-dupes"><%=t :post_related_dupe %></a><%#= link_to "Find dupes", :controller => "post", :action => "similar", :id => @post.id, :services=>"local" %></li>
      <li><a id="find-similar"><%=t :post_related_sim %></a><%#= link_to "Find similar", :controller => "post", :action => "similar", :id => @post.id, :services=>"all" %></li>
      <script type="text/javascript">
        $("find-dupes").href = '<%= escape_javascript(url_for(:controller => 'post', :action => 'similar', :id => @post.id, :services=>'local')) %>';
        $("find-similar").href = '<%= escape_javascript(url_for(:controller => 'post', :action => 'similar', :id => @post.id, :services=>'all')) %>';
      </script>
    <% end %>
    <% end %>
  </ul>
</div>
