<h4>Delete Post</h4>

<% if CONFIG["can_see_post"].call(@current_user, @post) %>
  <%= image_tag @post.preview_url %>
<% end %>

<% form_tag(:action => "destroy") do %>
  <%= hidden_field_tag "id", params[:id] %>
  <label>Reason</label> <%= text_field_tag "reason" %>
  <%= submit_tag "Delete" %> <%= submit_tag "Cancel" %>
<% end %>

<div class="deleting-post">
<% if !@post.is_deleted? %>
    <br>
    <p>
    <% if @post_parent %>
      Votes will be transferred to the following parent post.
      If this is incorrect, reparent this post before deleting it.<p>
    <% if CONFIG["can_see_post"].call(@current_user, @post_parent) %>
      <ul id="post-list-posts"> <%= print_preview(@post_parent, :hide_directlink=>true) %> </ul>
    <% else %>
      (parent post hidden due to access restrictions)
    <% end %>

    <% else %>
      This post has no parent.  If this post has been replaced, reparent this post before deleting, and votes will be transferred.<p>
    <% end %>
<% end %>
</div>

<%= render :partial => "footer" %>