
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
	<title><%= h CONFIG["app_name"] %>/<%= h params[:tags] %></title>
	<link>http://<%= h CONFIG["server_host"] %>/</link>
	<description><%= h CONFIG["app_name"] %>PicLens RSS Feed</description>
	<% unless @posts.is_first_page? %>
	  <%= tag("atom:link", {:rel => "previous", :href => url_for(:only_path => false, :controller => "post", :action => "piclens", :page => @posts.previous_page, :tags => params[:tags])}, false) %>
	<% end %>
	<% unless @posts.is_last_page? %>
    <%= tag("atom:link", {:rel => "next", :href => url_for(:only_path => false, :controller => "post", :action => "piclens", :page => @posts.next_page, :tags => params[:tags])}, false) %>
  <% end %>

	<% @posts.each do |post| %>
  	<item>
  		<title><%= h post.cached_tags %></title>
  		<link>http://<%= h CONFIG["server_host"] %>/post/show/<%= post.id %></link>
  		<guid>http://<%= h CONFIG["server_host"] %>/post/show/<%= post.id %></guid>
  		<media:thumbnail url="<%= post.preview_url %>"/>
		<% if CONFIG["image_samples"] %>
			<media:content url="<%= post.sample_url %>" type=""/>
		<% else %>
  			<media:content url="<%= post.file_url %>" type=""/>
		<% end %>
  	</item>
	<% end %>
</channel>
</rss>
