<div id="post-popular">
  <h3><%= link_to '&laquo;', :controller => "post", :action => "popular_by_month", :year => @start.last_month.year, :month => @start.last_month.month %> <%= @start.strftime("%B %Y") %> <%= link_to_unless @start >= Time.now, '&raquo;', :controller => "post", :action => "popular_by_month", :year => @end.year, :month => @end.month %></h3>

  <%= render :partial => "posts", :locals => {:posts => @posts} %>
</div>

<% content_for("subnavbar") do %>
  <li><%= link_to "Popular", :controller => "post", :action => "popular_by_day", :month => @start.month, :day => @start.day, :year => @start.year %></li>
  <li><%= link_to "Popular (by week)", :controller => "post", :action => "popular_by_week", :year => @start.year, :month => @start.month, :day => @start.day %></li>
  <li><%= link_to "Popular (by month)", :controller => "post", :action => "popular_by_month", :year => @start.year, :month => @start.month %></li>
<% end %>

<%= render :partial => "footer" %>
