<% provide :title, t('.title') %>
<div style="margin-bottom: 1em;">
  <%= form_tag({:action => "index"}, :method => :get) do %>
    <%= text_field_tag "query", params[:query] %>
    <%= submit_tag t(:alias_search) %>
    <%= submit_tag t(:imp_search) %>
  <% end %>
</div>

<div id="aliases">
  <%= form_tag(:action => "update") do %>
    <table width="100%" class="highlightable">
      <thead>
        <tr>
          <th width="1%"></th>
          <th width="19%"><%=t :alias_alias %></th>
          <th width="20%"><%=t :alias_to %></th>
          <th width="60%"><%=t :alias_reason %></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4">
            <% if @current_user.is_mod_or_higher? %>
              <%= button_to_function t(:alias_pending), "$$('.pending').each(function(x) {x.checked = true})" %>
              <%= submit_tag t(:alias_approve) %>
            <% end %>
            <%= button_to_function t(:alias_delete), "$('reason-box').show(); $('reason').focus()" %>
            <%= button_to_function t(:alias_add), "$('add-box').show().scrollTo(); $('tag_alias_name').focus()" %>

            <div id="reason-box" style="display: none; margin-top: 1em;">
              <strong><%=t :alias_reason2 %></strong>
              <%= text_field_tag "reason", "", :size => 40 %>
              <%= submit_tag t(:alias_delete) %>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @aliases.each do |a| %>
          <tr class="<%= cycle 'even', 'odd' %> <%= a.is_pending? ? 'pending-tag' : nil %>">
            <td><input type="checkbox" name="aliases[<%= a.id %>]" value="1" <%= a.is_pending? ? 'class="pending"' : nil %>></td>
            <td><%= link_to h(a.name), :controller => "post", :action => "index", :tags => a.name %> (<%= Tag.find_by_name(a.name).post_count rescue 0 %>)</td>
            <td><%= link_to h(a.alias_name), :controller => "post", :action => "index", :tags => a.alias_name %> (<%= Tag.find(a.alias_id).post_count rescue 0 %>)</td>
            <td><%= h a.reason %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="add-box" style="display: none;">
  <%= form_tag(:action => "create") do %>
    <h4><%=t :alias_text %></h4>
    <p><%=t :alias_text2 %></p>

    <% unless @current_user.is_anonymous? %>
      <%= hidden_field_tag "tag_alias[creator_id]", @current_user.id %>
    <% end %>

    <table>
      <tr>
        <th><label for="tag_alias_name"><%=t :alias_name %></label></th>
        <td><%= text_field "tag_alias", "name", :size => 40 %></td>
      </tr>
      <tr>
        <th><label for="tag_alias_alias"><%=t :alias_alias_to %></label></th>
        <td><%= text_field "tag_alias", "alias", :size => 40 %></td>
      </tr>
      <tr>
        <th><label for="tag_alias_reason"><%=t :alias_reason %></label></th>
        <td><%= text_area "tag_alias", "reason", :size => "40x2" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag t(:alias_submit) %></td>
      </tr>
    </table>
  <% end %>
</div>

<div id="paginator">
  <%= will_paginate(@aliases) %>
</div>

<%= render :partial => "/tag/footer" %>
