<div id="static-more">
  <h2><%= link_to CONFIG['app_name'], '/', :id => "site-link" %></h2>
  <h5><%= t('.reason') %>: <%= @ban.reason %></h5>

  <% if @ban.expires_at then %>
    <p><%= t('.expires_in', :t => time_ago_in_words(@ban.expires_at)) %></p>
  <% else %>
    <p><%= t('.permanent') %></p>
  <% end %>
</div>
