<% content_for :post_cookie_javascripts do %>
<script type="text/javascript">
  var def = [];

  var account_menu = [];
  <% if @current_user.is_anonymous? %>
    account_menu.push(<%= make_sub_item(t('.account.login'), {:controller => :user, :action => "login"}, :level => :member, :class_names => ["login-button"]) %>);
    account_menu.push(<%= make_sub_item(t('.account.reset'), :controller => :user, :action => "reset_password") %>);
  <% else %>
    account_menu.push(<%= make_sub_item(t('.account.logout'), :controller => :user, :action => "logout", :from => request.fullpath) %>);

    if(Cookie.get("user_id"))
    {
      var profile_item = <%= make_sub_item(t('.account.profile'), :controller => :user, :action => "show", :id => @current_user.id) %>;
      account_menu.push(profile_item);
    }

    account_menu.push(<%= make_sub_item(t('.account.mail'), :controller => "dmail", :action => "inbox") %>);

    if(Cookie.get("login"))
    {
      var favorites_item = <%= make_sub_item(t('.account.favorites'), :controller => "post", :action => "index", :tags => "order:vote vote:3:") %>;
      if(User.get_use_browser())
        favorites_item.dest = "/post/browse#/order:vote vote:3:" + Cookie.get("login");
      else
        favorites_item.dest += Cookie.get("login")
      account_menu.push(favorites_item);
    }

    account_menu.push(<%= make_sub_item(t('.account.settings'), :controller => :user, :action => "edit") %>);
    account_menu.push(<%= make_sub_item(t('.account.change_password'), :controller => :user, :action => "change_password") %>);
  <% end %>

  def.push(<%= make_main_item(t('.account._'), {:controller => :user, :action => "home"}, {:name => "my_account", :level => :member}) %>);
  def[def.length-1].sub = account_menu;

  var posts_menu = [];
  posts_menu.push(<%= make_sub_item(t('.posts.view'), :controller => :post, :action => "index") %>);
  posts_menu.push(<%= make_sub_item(t('.posts.search'), :controller => :post, :action => "index") %>);
  posts_menu[posts_menu.length-1].func = ShowPostSearch;
  posts_menu.push(<%= make_sub_item(t('.posts.upload'), :controller => :post, :action => "upload") %>);
  posts_menu.push(<%= make_sub_item(t('.posts.random'), :controller => :post, :tags => "order:random") %>);
  posts_menu.push(<%= make_sub_item(t('.posts.popular'), :controller => :post, :action => "popular_recent") %>);
  posts_menu.push(<%= make_sub_item(t('.posts.image_search'), :controller => :post, :action => "similar") %>);
  posts_menu.push(<%= make_sub_item(t('.posts.history'), :controller => :history, :action => "index") %>);
  <% if @current_user.is_contributor_or_higher? %>
    posts_menu.push(<%= make_sub_item(t('.posts.batch'), :controller => :batch) %>);
  <% end %>
  <% if @current_user.is_janitor_or_higher? %>
    posts_menu.push(<%= make_sub_item(t('.posts.moderate'), :controller => :post, :action => "moderate") %>);

    var posts_flagged = Cookie.get("posts_flagged");
    if (posts_flagged && parseInt(posts_flagged) > "0") {
      posts_menu[posts_menu.length-1].label += " (" + posts_flagged + ")";
      posts_menu[posts_menu.length-1].class_names = ["bolded"];
    }
  <% end %>
  def.push(<%= make_main_item(t('.posts._'), {:controller => :post, :action => "index"}, {:name => "posts"}) %>);
  def[def.length-1].sub = posts_menu;

  var comments_menu = [];
  comments_menu.push(<%= make_sub_item(t('.comments.view'), :controller => :comment, :action => "index") %>);
  comments_menu.push(<%= make_sub_item(t('.comments.search'), :controller => :comment, :action => "search") %>);
  comments_menu[comments_menu.length-1].func = ShowCommentSearch;
  <% if @current_user.is_janitor_or_higher? %>
  comments_menu.push(<%= make_sub_item(t('.comments.moderate'), :controller => :comment, :action => "moderate") %>);
  <% end %>
  def.push(<%= make_main_item(t('.comments._'), {:controller => :comment, :action => "index"}, {:html_id => "comments-link", :name => "comments"}) %>);
  if (Cookie.get("comments_updated") == "1") {
    def[def.length-1].class_names = ["bolded"];
  }
  def[def.length-1].sub = comments_menu;

  var notes_menu = [];
  notes_menu.push(<%= make_sub_item(t('.notes.view'), :controller => :note, :action => "index") %>);
  notes_menu.push(<%= make_sub_item(t('.notes.search'), :controller => :note, :action => "search") %>);
  notes_menu[notes_menu.length-1].func = ShowNoteSearch;
  notes_menu.push(<%= make_sub_item(t('.notes.requests'), :controller => :post, :action => "index", :tags => "translation_request") %>);
  def.push(<%= make_main_item(t('.notes._'), {:controller => :note, :action => "index"}, {:name => "notes"}) %>);
  def[def.length-1].sub = notes_menu;

  <% if CONFIG["enable_artists"] %>
  var artists_menu = [];
  artists_menu.push(<%= make_sub_item(t('.artists.view'), :controller => :artist, :action => "index") %>);
  artists_menu.push(<%= make_sub_item(t('.artists.search'), :controller => :artist, :action => "index") %>);
  artists_menu[artists_menu.length-1].func = ShowArtistSearch;
  artists_menu.push(<%= make_sub_item(t('.artists.create'), :controller => :artist, :action => "create") %>);
  def.push(<%= make_main_item(t('.artists._'), {:controller => :artist, :action => "index"}, {:name => "artists"}) %>);
  def[def.length-1].sub = artists_menu;
  <% end %>

  var tags_menu = [];
  tags_menu.push(<%= make_sub_item(t('.tags.view'), :controller => :tag, :action => "index") %>);
  tags_menu.push(<%= make_sub_item(t('.tags.search'), :controller => :tag, :action => "index") %>);
  tags_menu[tags_menu.length-1].func = ShowTagSearch;
  tags_menu.push(<%= make_sub_item(t('.tags.popular'), :controller => :tag, :action => "popular_by_day") %>);
  tags_menu.push(<%= make_sub_item(t('.tags.aliases'), :controller => :tag_alias, :action => "index") %>);
  tags_menu.push(<%= make_sub_item(t('.tags.implications'), :controller => :tag_implication, :action => "index") %>);
  <% if @current_user.is_mod_or_higher? %>
    tags_menu.push(<%= make_sub_item(t('.tags.mass_edit'), :controller => :tag, :action => "mass_edit") %>);
  <% end %>
  tags_menu.push(<%= make_sub_item(t('.tags.edit'), :controller => :tag, :action => "edit") %>);
  def.push(<%= make_main_item(t('.tags._'), {:controller => :tag, :action => "index", :order => "date"}, {:name => "tags"}) %>);
  def[def.length-1].sub = tags_menu;

  var pools_menu = [];
  pools_menu.push(<%= make_sub_item(t('.pools.view'), :controller => :pool, :action => "index") %>);
  pools_menu.push(<%= make_sub_item(t('.pools.search'), :controller => :pool, :action => "index") %>);
  pools_menu[pools_menu.length-1].func = ShowPoolSearch;
  pools_menu.push(<%= make_sub_item(t('.pools.create'), :controller => :pool, :action => "create") %>);
  def.push(<%= make_main_item(t('.pools._'), {:controller => :pool, :action => "index"}, {:name => "pools"}) %>);
  def[def.length-1].sub = pools_menu;

  var wiki_menu = [];
  wiki_menu.push(<%= make_sub_item(t('.wiki.index'), :controller => :wiki, :action => "index") %>);
  wiki_menu.push(<%= make_sub_item(t('.wiki.search'), :controller => :wiki, :action => "index") %>);
  wiki_menu[wiki_menu.length-1].func = ShowWikiSearch;
  wiki_menu.push(<%= make_sub_item(t('.wiki.create'), :controller => :wiki, :action => "add") %>);
  def.push(<%= make_main_item(t('.wiki._'), {:controller => :wiki, :action => "show", :title => "help:home"}, {:name => "wiki"}) %>);
  def[def.length-1].sub = wiki_menu;

  var forum_menu = [];
  forum_menu.push(<%= make_sub_item(t('.forum.view'), :controller => :forum, :action => "index") %>);
  forum_menu.push(<%= make_sub_item(t('.forum.search'), :controller => :forum, :action => "index") %>);
  forum_menu[forum_menu.length-1].func = ShowForumSearch;
  forum_menu.push(<%= make_sub_item(t('.forum.new'), :controller => :forum, :action => "new") %>);
  def.push(<%= make_main_item(t('.forum._'), {:controller => :forum, :action => "index"}, {:name => "forum", :html_id => "forum-link"}) %>);
  if (Cookie.get("forum_updated") == "1") {
    def[def.length-1].class_names = ["bolded"];
  }
  def[def.length-1].sub = forum_menu;

  var help_menu = [];
  <% current_controller = controller.controller_name.to_sym %>
  <% if [:post, :comment, :note, :artist, :tag, :wiki, :pool, :forum].include?(current_controller) then %>
    help_menu.push(<%= make_sub_item("#{current_controller.to_s.capitalize} " + t('.help._'), {:controller => :help, :action => get_help_action_for_controller(current_controller)}) %>);
  <% end %>
  help_menu.push(<%= make_sub_item(t('.help.site'), {:controller => :help}) %>);
  def.push(<%= make_main_item(t('.help._'), {:controller => :help}, {:name => "help"}) %>);
  def[def.length-1].sub = help_menu;

  def.push(<%= make_main_item(t('.more'), {:controller => :static, :action => "more"}, {:name => "more"}) %>);
</script>
<% end %>

<div id="main-menu">
  <%
    @top_menu_items.each { |item|
      class_names = []
      class_names << "menu"
      class_names << "top-item-#{item[:name]}"
      class_names += item[:class_names]
      onclick = 'if(!User.run_login_onclick(event)) return false;' if item[:login]
      %>
      <%# This div must not contain any whitespace nodes.  If it does, FF will return offsetLeft
         incorrectly, causing problems if the menu wraps. #%>
      <%= content_tag :div, :id => item[:html_id], :class => class_names do %>
        <%= link_to item[:label], item[:dest], :onclick => onclick %>
      <% end %>
  <% } %>
  <a id="has-mail-notice" class="has-mail" style="display: none;" href="<%= url_for :controller => "dmail", :action => "inbox" %>">
    <span><%= t('.new_mail') %></span>
  </a>
  <span id='cn' style="display: none;">
  </span>
</div>

<% content_for :post_cookie_javascripts do %>
<script type="text/javascript">
  var main_menu = new MainMenu($("main-menu"), def);
  main_menu.add_forum_posts_to_submenu();
  main_menu.init();
  $('cn').show();
</script>
<% end %>
