<!DOCTYPE html>
<html class="action-<%= params[:controller] %> action-<%= params[:controller] %>-<%= params[:action] %> hide-advanced-editing">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title><%= @page_title %></title>
  <meta name="description" content="yande.re - A Danbooru focusing on High Resolution Anime Scans, Ecchi Scans, Hentai Scans, Moe Scans, and Bishoujo Scans; unlimited downloads. ">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="top" title="<%= CONFIG["app_name"] %>" href="/">
  <%= tag 'link', :rel => 'canonical', :href => url_for(:controller => '/post', :action => :show, :id => @post.id, :only_path => false) %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= tag :link, :rel => 'search', :type => Mime::OPENSEARCH, :href => opensearch_path(:xml), :title => CONFIG['app_name'] %>
  <%= CONFIG["custom_html_headers"] %>
  <%= yield :html_header %>
</head>
<body>
  <%= render :partial => "layouts/notice" %>
  <div id="content">
    <%= yield %>
  </div>
  <%= yield(:post_cookie_javascripts) %>
  <%= render 'shared/ga' if CONFIG['ga-tracking-id'] -%>
</body>
</html>
