<% content_for :content do %>
  <div id="header">
    <div id="title">
      <h2 id="site-title">
        <%= link_to image_tag('logo_small.png', alt: CONFIG['app_name'], size: '484x75', id: 'logo'), root_path %>
      </h2>
    </div>
    <%= render 'layouts/menu' %>
  </div>
  <% render 'layouts/notice' %>

  <div class="blocked" id="block-reason" style="display: none;">
  </div>

  <div class="page-main">
    <ul class="sidebar-menu">
      <% [
        [t('user.edit.title'), { controller: '/user', action: :edit }],
        [t('settings.api.show.title'), settings_api_path],
        [t('user.change_email.title'), user_change_email_path],
        [t('user.change_password.title'), user_change_password_path],
      ].each do |title, target| %>
        <li class="sidebar-menu__item">
          <%= link_to title, target %>
        </li>
      <% end %>
    </ul>
    <div class="page-main__content">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
